.contact-4 #map-canvas {
  width: 100%;
  height: 150px;
  margin-top: 20px;
}
.contact-4 .container * + .row {
  margin-top: 50px;
}
.contact-4 .container .r-btn,
.contact-4 .container .f-btn {
  min-width: 100px;
}
.contact-4 .container form .form-group {
  width: 100%;
}
.contact-4 .container .company-info > div {
  margin-bottom: 30px;
}
