.txt-blue-whale .f-btn {
  color: #28324e;
  border-color: #28324e;
}
.txt-blue-whale .f-btn.highlight {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-blue-whale .f-btn:hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.txt-blue-whale .r-btn {
  color: #ffffff;
  border-color: #28324e;
  background: #28324e;
}
.txt-blue-whale .r-btn:hover {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-blue-whale .r-btn.highlight {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-blue-whale .r-btn.highlight:hover {
  color: #ffffff;
  background: #d14b49;
  border-color: #d14b49;
}
.hi-blue-whale .f-btn:hover {
  background: #28324e !important;
  border-color: #28324e !important;
  color: #ffffff !important;
}
.hi-blue-whale .f-btn.highlight {
  color: #28324e !important;
  border-color: #28324e !important;
}
.hi-blue-whale .f-btn.highlight:hover {
  color: #ffffff !important;
}
.hi-blue-whale .r-btn:hover {
  color: #ffffff !important;
  background: #28324e !important;
  border-color: #28324e !important;
}
.hi-blue-whale .r-btn.highlight {
  color: #ffffff !important;
  background: #28324e !important;
  border-color: #28324e !important;
}
.hi-blue-whale .r-btn.highlight:hover {
  background: #394870 !important;
  border-color: #394870 !important;
}
.txt-blue-whale {
  color: #28324e;
}
.txt-blue-whale .bordered {
  border-color: #28324e;
}
.txt-blue-whale .highlight {
  color: #b8312f;
}
.txt-blue-whale .highlight.bordered {
  border-color: #b8312f;
}
.txt-blue-whale .box {
  border-color: #28324e;
}
.txt-blue-whale .box * {
  border-color: #28324e;
}
.hi-blue-whale .highlight {
  color: #28324e !important;
}
.hi-blue-whale .highlight.bordered {
  border-color: #28324e;
}
.txt-blue-whale .alt-link {
  color: #28324e;
}
.txt-blue-whale .colored-box {
  color: #28324e;
}
.txt-blue-whale .colored-box a.alt-link:not(.box-link) {
  color: #28324e;
}
.txt-blue-whale .colored-box a.alt-link:not(.box-link):hover {
  color: #e59c9b;
}
.txt-blue-whale .colored-box a.box-link {
  color: #28324e;
}
.txt-blue-whale .hover-box {
  border-color: #28324e;
}
.txt-blue-whale .hover-box *:not(.highlight) {
  color: #28324e;
}
.txt-blue-whale .hover-box:hover {
  color: #ffffff;
}
.txt-blue-whale .hover-box:hover * {
  color: #ffffff;
}
.txt-blue-whale .network-icon {
  background: #28324e;
  color: #ffffff;
}
.txt-blue-whale .network-icon:not(.r-btn):not(.f-btn):hover {
  background: #394870;
  border-color: #394870;
}
.txt-blue-whale .network-icon.f-btn {
  color: #28324e;
}
.hi-blue-whale:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link) {
  color: #28324e;
}
.hi-blue-whale:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link).network-icon {
  color: #ffffff;
}
.hi-blue-whale:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link):hover {
  color: #425281;
}
.hi-blue-whale .alt-link:hover {
  color: #28324e !important;
}
.hi-blue-whale .colored-box {
  background: #28324e;
  color: #ffffff;
}
.hi-blue-whale .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link) {
  color: #6175ae;
}
.hi-blue-whale .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link):hover {
  color: #a4b0d1;
}
.hi-blue-whale .colored-box a.alt-link {
  color: #ffffff;
}
.hi-blue-whale .colored-box a.alt-link:hover {
  color: #6175ae !important;
}
.hi-blue-whale .colored-box a.box-link {
  color: #ffffff;
}
.hi-blue-whale .colored-box a.box-link:after {
  background-color: #ffffff;
}
.hi-blue-whale .hover-box *:not(.highlight) {
  color: #252525;
}
.hi-blue-whale .hover-box:hover {
  background: #28324e;
  color: #ffffff !important;
}
.hi-blue-whale .hover-box:hover * {
  color: #ffffff !important;
}
.hi-blue-whale .network-icon.f-btn:not([class*='-hover']):hover {
  color: #ffffff;
  background: #28324e;
  border-color: #28324e;
}
.hi-blue-whale .network-icon.f-btn.highlight:hover {
  background: #28324e;
  color: #ffffff;
}
.bg-blue-whale:not([class*='overlay-']) {
  background-color: #28324e;
}
.bg-blue-whale[class*='overlay-']:after {
  background-color: #28324e;
}
.bg-blue-whale[class*='overlay-'] .contrast-bg {
  background-color: #ffffff;
  border-color: #ffffff;
}
.hi-blue-whale .bg-highlight {
  background-color: #28324e !important;
  color: #ffffff !important;
}
.hi-blue-whale .border-highlight {
  border-color: #28324e !important;
}
/* nav-in class in added to html. */
/* Collapse */
header.bg-blue-whale,
header.menu-bg-blue-whale .navbar-collapse.in,
header.menu-bg-blue-whale .navbar-collapse.collapsing {
  background-color: #28324e;
}
header.txt-blue-whale ul.nav > li.nav-btn a,
header.menu-txt-blue-whale .navbar-collapse.in ul.nav > li.nav-btn a,
header.menu-txt-blue-whale .navbar-collapse.collapsing ul.nav > li.nav-btn a {
  border-color: #28324e;
}
header.txt-blue-whale ul.nav > li > a,
header.menu-txt-blue-whale .navbar-collapse.in ul.nav > li > a,
header.menu-txt-blue-whale .navbar-collapse.collapsing ul.nav > li > a {
  color: #28324e;
}
header.txt-blue-whale ul.nav > li > a.active,
header.menu-txt-blue-whale .navbar-collapse.in ul.nav > li > a.active,
header.menu-txt-blue-whale .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-blue-whale ul.nav > li > a.active.filled,
header.menu-txt-blue-whale .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-txt-blue-whale .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  color: #b8312f;
  color: #ffffff;
}
header.txt-blue-whale ul.nav > li > a.popout,
header.menu-txt-blue-whale .navbar-collapse.in ul.nav > li > a.popout,
header.menu-txt-blue-whale .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f;
  border-color: #b8312f;
  background-color: transparent;
}
header.txt-blue-whale ul.nav > li > a.popout.filled,
header.menu-txt-blue-whale .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-txt-blue-whale .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f;
  color: #ffffff;
}
header.txt-blue-whale ul.nav > li > a.popout:hover,
header.menu-txt-blue-whale .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-txt-blue-whale .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f;
  color: #ffffff;
}
header.txt-blue-whale ul.nav > li > a.filled:hover,
header.menu-txt-blue-whale .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-txt-blue-whale .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d14b49;
  background-color: #d14b49;
  color: #ffffff;
}
header.txt-blue-whale ul.nav > li > a:hover,
header.menu-txt-blue-whale .navbar-collapse.in ul.nav > li > a:hover,
header.menu-txt-blue-whale .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-blue-whale a.brand,
header.menu-txt-blue-whale .navbar-collapse.in a.brand,
header.menu-txt-blue-whale .navbar-collapse.collapsing a.brand {
  color: #28324e;
}
header.txt-blue-whale button.dismiss-navbar,
header.menu-txt-blue-whale .navbar-collapse.in button.dismiss-navbar,
header.menu-txt-blue-whale .navbar-collapse.collapsing button.dismiss-navbar {
  color: #28324e;
}
header.txt-blue-whale .navbar-toggle {
  color: #28324e;
}
header.txt-blue-whale .navbar-toggle .icon-bar {
  background-color: #28324e;
}
header.hi-blue-whale a.brand:hover,
header.menu-hi-blue-whale .navbar-collapse.in a.brand:hover,
header.menu-hi-blue-whale .navbar-collapse.collapsing a.brand:hover {
  color: #28324e;
}
header.hi-blue-whale ul.nav > li > a.active,
header.menu-hi-blue-whale .navbar-collapse.in ul.nav > li > a.active,
header.menu-hi-blue-whale .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #28324e !important;
  border-color: #28324e !important;
}
header.hi-blue-whale ul.nav > li > a.active.filled,
header.menu-hi-blue-whale .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-hi-blue-whale .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  background-color: #28324e !important;
  color: #ffffff !important;
}
header.hi-blue-whale ul.nav > li > a.popout,
header.menu-hi-blue-whale .navbar-collapse.in ul.nav > li > a.popout,
header.menu-hi-blue-whale .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #28324e !important;
  border-color: #28324e !important;
}
header.hi-blue-whale ul.nav > li > a.popout.filled,
header.menu-hi-blue-whale .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-hi-blue-whale .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #28324e !important;
  color: #ffffff !important;
}
header.hi-blue-whale ul.nav > li > a.popout.filled:hover,
header.menu-hi-blue-whale .navbar-collapse.in ul.nav > li > a.popout.filled:hover,
header.menu-hi-blue-whale .navbar-collapse.collapsing ul.nav > li > a.popout.filled:hover {
  border-color: #394870 !important;
  background-color: #394870 !important;
  color: #ffffff !important;
}
header.hi-blue-whale ul.nav > li > a.popout:hover,
header.menu-hi-blue-whale .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-hi-blue-whale .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #28324e !important;
  color: #ffffff !important;
}
header.hi-blue-whale ul.nav > li > a.filled:hover,
header.menu-hi-blue-whale .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-hi-blue-whale .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #28324e !important;
  background-color: #28324e !important;
  color: #ffffff !important;
}
header.hi-blue-whale ul.nav > li > a:hover,
header.menu-hi-blue-whale .navbar-collapse.in ul.nav > li > a:hover,
header.menu-hi-blue-whale .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #28324e !important;
  border-color: #28324e !important;
}
footer.bg-blue-whale {
  background: #28324e;
}
footer.txt-blue-whale {
  border-top-color: #28324e;
}
.bg-blue-whale .form-inline .input-group-btn.f-btn {
  background: #28324e;
}
.bg-blue-whale .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
.txt-blue-whale .form-control {
  border-color: #28324e;
}
.txt-blue-whale .form-inline .input-group .input-group-btn:not(.f-btn):not(.r-btn) {
  border-color: #28324e;
}
.hi-blue-whale .form-inline .input-group-btn.f-btn:hover {
  background: #28324e;
}
