.txt-blue-gem .f-btn {
  color: #553982;
  border-color: #553982;
}
.txt-blue-gem .f-btn.highlight {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-blue-gem .f-btn:hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.txt-blue-gem .r-btn {
  color: #ffffff;
  border-color: #553982;
  background: #553982;
}
.txt-blue-gem .r-btn:hover {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-blue-gem .r-btn.highlight {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-blue-gem .r-btn.highlight:hover {
  color: #ffffff;
  background: #d14b49;
  border-color: #d14b49;
}
.hi-blue-gem .f-btn:hover {
  background: #553982 !important;
  border-color: #553982 !important;
  color: #ffffff !important;
}
.hi-blue-gem .f-btn.highlight {
  color: #553982 !important;
  border-color: #553982 !important;
}
.hi-blue-gem .f-btn.highlight:hover {
  color: #ffffff !important;
}
.hi-blue-gem .r-btn:hover {
  color: #ffffff !important;
  background: #553982 !important;
  border-color: #553982 !important;
}
.hi-blue-gem .r-btn.highlight {
  color: #ffffff !important;
  background: #553982 !important;
  border-color: #553982 !important;
}
.hi-blue-gem .r-btn.highlight:hover {
  background: #6c49a5 !important;
  border-color: #6c49a5 !important;
}
.txt-blue-gem {
  color: #553982;
}
.txt-blue-gem .bordered {
  border-color: #553982;
}
.txt-blue-gem .box {
  border-color: #553982;
}
.txt-blue-gem .box * {
  border-color: #553982;
}
.hi-blue-gem .highlight {
  color: #553982 !important;
}
.hi-blue-gem .highlight.bordered {
  border-color: #553982;
}
.txt-blue-gem .alt-link {
  color: #553982;
}
.txt-blue-gem .colored-box {
  color: #553982;
}
.txt-blue-gem .colored-box a.alt-link:not(.box-link) {
  color: #553982;
}
.txt-blue-gem .colored-box a.alt-link:not(.box-link):hover {
  color: #e59c9b;
}
.txt-blue-gem .colored-box a.box-link {
  color: #553982;
}
.txt-blue-gem .hover-box {
  border-color: #553982;
}
.txt-blue-gem .hover-box *:not(.highlight) {
  color: #553982;
}
.txt-blue-gem .hover-box:hover {
  color: #ffffff;
}
.txt-blue-gem .hover-box:hover * {
  color: #ffffff;
}
.txt-blue-gem .network-icon {
  background: #553982;
  color: #ffffff;
}
.txt-blue-gem .network-icon:not(.r-btn):not(.f-btn):hover {
  background: #6c49a5;
  border-color: #6c49a5;
}
.txt-blue-gem .network-icon.f-btn {
  color: #553982;
}
.hi-blue-gem:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link) {
  color: #553982;
}
.hi-blue-gem:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link).network-icon {
  color: #ffffff;
}
.hi-blue-gem:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link):hover {
  color: #7954b4;
}
.hi-blue-gem .alt-link:hover {
  color: #553982 !important;
}
.hi-blue-gem:not(header) .colored-box {
  background: #553982;
  color: #ffffff;
}
.hi-blue-gem:not(header) .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link) {
  color: #a289cb;
}
.hi-blue-gem:not(header) .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link):hover {
  color: #dad0ea;
}
.hi-blue-gem:not(header) .colored-box a.alt-link {
  color: #ffffff;
}
.hi-blue-gem:not(header) .colored-box a.alt-link:hover {
  color: #a289cb !important;
}
.hi-blue-gem:not(header) .colored-box a.box-link {
  color: #ffffff;
}
.hi-blue-gem:not(header) .colored-box a.box-link:after {
  background-color: #ffffff;
}
.hi-blue-gem .hover-box *:not(.highlight) {
  color: #252525;
}
.hi-blue-gem .hover-box:hover {
  background: #553982;
  color: #ffffff !important;
}
.hi-blue-gem .hover-box:hover * {
  color: #ffffff !important;
}
.hi-blue-gem .network-icon.f-btn:not([class*='-hover']):hover {
  color: #ffffff;
  background: #553982;
  border-color: #553982;
}
.hi-blue-gem .network-icon.f-btn.highlight:hover {
  background: #553982;
  color: #ffffff;
}
.bg-blue-gem:not([class*='overlay-']) {
  background-color: #553982;
}
.bg-blue-gem[class*='overlay-']:after {
  background-color: #553982;
}
.bg-blue-gem[class*='overlay-'] .contrast-bg {
  background-color: #ffffff;
  border-color: #ffffff;
}
.hi-blue-gem .bg-highlight {
  background-color: #553982 !important;
  color: #ffffff !important;
}
.hi-blue-gem .border-highlight {
  border-color: #553982 !important;
}
/* nav-in class in added to html. */
/* Collapse */
header.bg-blue-gem .navbar,
header.menu-bg-blue-gem .navbar .navbar-collapse.in,
header.menu-bg-blue-gem .navbar .navbar-collapse.collapsing {
  background-color: #553982;
}
header.txt-blue-gem .navbar ul.nav > li.nav-btn a,
header.menu-txt-blue-gem .navbar .navbar-collapse.in ul.nav > li.nav-btn a,
header.menu-txt-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li.nav-btn a {
  border-color: #553982;
}
header.txt-blue-gem .navbar ul.nav > li > a,
header.menu-txt-blue-gem .navbar .navbar-collapse.in ul.nav > li > a,
header.menu-txt-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li > a {
  color: #553982;
}
header.txt-blue-gem .navbar ul.nav > li > a.active,
header.menu-txt-blue-gem .navbar .navbar-collapse.in ul.nav > li > a.active,
header.menu-txt-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-blue-gem .navbar ul.nav > li > a.active.filled,
header.menu-txt-blue-gem .navbar .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-txt-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  color: #b8312f;
  color: #ffffff;
}
header.txt-blue-gem .navbar ul.nav > li > a.popout,
header.menu-txt-blue-gem .navbar .navbar-collapse.in ul.nav > li > a.popout,
header.menu-txt-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f;
  border-color: #b8312f;
  background-color: transparent;
}
header.txt-blue-gem .navbar ul.nav > li > a.popout.filled,
header.menu-txt-blue-gem .navbar .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-txt-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f;
  color: #ffffff;
}
header.txt-blue-gem .navbar ul.nav > li > a.popout:hover,
header.menu-txt-blue-gem .navbar .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-txt-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f;
  color: #ffffff;
}
header.txt-blue-gem .navbar ul.nav > li > a.filled:hover,
header.menu-txt-blue-gem .navbar .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-txt-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d14b49;
  background-color: #d14b49;
  color: #ffffff;
}
header.txt-blue-gem .navbar ul.nav > li > a:hover,
header.menu-txt-blue-gem .navbar .navbar-collapse.in ul.nav > li > a:hover,
header.menu-txt-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-blue-gem .navbar button.dismiss-navbar,
header.menu-txt-blue-gem .navbar .navbar-collapse.in button.dismiss-navbar,
header.menu-txt-blue-gem .navbar .navbar-collapse.collapsing button.dismiss-navbar {
  color: #553982;
}
header.txt-blue-gem .navbar .brand,
header.menu-txt-blue-gem .navbar .navbar-collapse.in .brand,
header.menu-txt-blue-gem .navbar .navbar-collapse.collapsing .brand {
  color: #553982;
}
header.txt-blue-gem .navbar .navbar-toggle {
  color: #553982;
}
header.txt-blue-gem .navbar .navbar-toggle .icon-bar {
  background-color: #553982;
}
header.hi-blue-gem .navbar a.brand:hover,
header.menu-hi-blue-gem .navbar .navbar-collapse.in a.brand:hover,
header.menu-hi-blue-gem .navbar .navbar-collapse.collapsing a.brand:hover {
  color: #553982;
}
header.hi-blue-gem .navbar ul.nav > li > a.active,
header.menu-hi-blue-gem .navbar .navbar-collapse.in ul.nav > li > a.active,
header.menu-hi-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #553982 !important;
  border-color: #553982 !important;
}
header.hi-blue-gem .navbar ul.nav > li > a.active.filled,
header.menu-hi-blue-gem .navbar .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-hi-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  background-color: #553982 !important;
  color: #ffffff !important;
}
header.hi-blue-gem .navbar ul.nav > li > a.popout,
header.menu-hi-blue-gem .navbar .navbar-collapse.in ul.nav > li > a.popout,
header.menu-hi-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #553982 !important;
  border-color: #553982 !important;
}
header.hi-blue-gem .navbar ul.nav > li > a.popout.filled,
header.menu-hi-blue-gem .navbar .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-hi-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #553982 !important;
  color: #ffffff !important;
}
header.hi-blue-gem .navbar ul.nav > li > a.popout.filled:hover,
header.menu-hi-blue-gem .navbar .navbar-collapse.in ul.nav > li > a.popout.filled:hover,
header.menu-hi-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li > a.popout.filled:hover {
  border-color: #6c49a5 !important;
  background-color: #6c49a5 !important;
  color: #ffffff !important;
}
header.hi-blue-gem .navbar ul.nav > li > a.popout:hover,
header.menu-hi-blue-gem .navbar .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-hi-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #553982 !important;
  color: #ffffff !important;
}
header.hi-blue-gem .navbar ul.nav > li > a.filled:hover,
header.menu-hi-blue-gem .navbar .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-hi-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #553982 !important;
  background-color: #553982 !important;
  color: #ffffff !important;
}
header.hi-blue-gem .navbar ul.nav > li > a:hover,
header.menu-hi-blue-gem .navbar .navbar-collapse.in ul.nav > li > a:hover,
header.menu-hi-blue-gem .navbar .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #553982 !important;
  border-color: #553982 !important;
}
footer.bg-blue-gem {
  background: #553982;
}
footer.txt-blue-gem {
  border-top-color: #553982;
}
.bg-blue-gem .form-inline .input-group-btn.f-btn {
  background: #553982;
}
.bg-blue-gem .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
.txt-blue-gem .form-control {
  border-color: #553982;
}
.txt-blue-gem .form-inline .input-group .input-group-btn:not(.f-btn):not(.r-btn) {
  border-color: #553982;
}
.hi-blue-gem .form-inline .input-group-btn.f-btn:hover {
  background: #553982;
}
