.txt-chambray .f-btn {
  color: #475577;
  border-color: #475577;
}
.txt-chambray .f-btn.highlight {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-chambray .f-btn:hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.txt-chambray .r-btn {
  color: #ffffff;
  border-color: #475577;
  background: #475577;
}
.txt-chambray .r-btn:hover {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-chambray .r-btn.highlight {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-chambray .r-btn.highlight:hover {
  color: #ffffff;
  background: #d14b49;
  border-color: #d14b49;
}
.hi-chambray .f-btn:hover {
  background: #475577 !important;
  border-color: #475577 !important;
  color: #ffffff !important;
}
.hi-chambray .f-btn.highlight {
  color: #475577 !important;
  border-color: #475577 !important;
}
.hi-chambray .f-btn.highlight:hover {
  color: #ffffff !important;
}
.hi-chambray .r-btn:hover {
  color: #ffffff !important;
  background: #475577 !important;
  border-color: #475577 !important;
}
.hi-chambray .r-btn.highlight {
  color: #ffffff !important;
  background: #475577 !important;
  border-color: #475577 !important;
}
.hi-chambray .r-btn.highlight:hover {
  background: #5a6c97 !important;
  border-color: #5a6c97 !important;
}
.txt-chambray {
  color: #475577;
}
.txt-chambray .bordered {
  border-color: #475577;
}
.txt-chambray .highlight {
  color: #b8312f;
}
.txt-chambray .highlight.bordered {
  border-color: #b8312f;
}
.txt-chambray .box {
  border-color: #475577;
}
.txt-chambray .box * {
  border-color: #475577;
}
.hi-chambray .highlight {
  color: #475577 !important;
}
.hi-chambray .highlight.bordered {
  border-color: #475577;
}
.txt-chambray .alt-link {
  color: #475577;
}
.txt-chambray .colored-box {
  color: #475577;
}
.txt-chambray .colored-box a.alt-link:not(.box-link) {
  color: #475577;
}
.txt-chambray .colored-box a.alt-link:not(.box-link):hover {
  color: #e59c9b;
}
.txt-chambray .colored-box a.box-link {
  color: #475577;
}
.txt-chambray .hover-box {
  border-color: #475577;
}
.txt-chambray .hover-box *:not(.highlight) {
  color: #475577;
}
.txt-chambray .hover-box:hover {
  color: #ffffff;
}
.txt-chambray .hover-box:hover * {
  color: #ffffff;
}
.txt-chambray .network-icon {
  background: #475577;
  color: #ffffff;
}
.txt-chambray .network-icon:not(.r-btn):not(.f-btn):hover {
  background: #5a6c97;
  border-color: #5a6c97;
}
.txt-chambray .network-icon.f-btn {
  color: #475577;
}
.hi-chambray:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link) {
  color: #475577;
}
.hi-chambray:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link).network-icon {
  color: #ffffff;
}
.hi-chambray:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link):hover {
  color: #6678a4;
}
.hi-chambray .alt-link:hover {
  color: #475577 !important;
}
.hi-chambray .colored-box {
  background: #475577;
  color: #ffffff;
}
.hi-chambray .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link) {
  color: #96a3c1;
}
.hi-chambray .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link):hover {
  color: #d6dbe7;
}
.hi-chambray .colored-box a.alt-link {
  color: #ffffff;
}
.hi-chambray .colored-box a.alt-link:hover {
  color: #96a3c1 !important;
}
.hi-chambray .colored-box a.box-link {
  color: #ffffff;
}
.hi-chambray .colored-box a.box-link:after {
  background-color: #ffffff;
}
.hi-chambray .hover-box *:not(.highlight) {
  color: #252525;
}
.hi-chambray .hover-box:hover {
  background: #475577;
  color: #ffffff !important;
}
.hi-chambray .hover-box:hover * {
  color: #ffffff !important;
}
.hi-chambray .network-icon.f-btn:not([class*='-hover']):hover {
  color: #ffffff;
  background: #475577;
  border-color: #475577;
}
.hi-chambray .network-icon.f-btn.highlight:hover {
  background: #475577;
  color: #ffffff;
}
.bg-chambray:not([class*='overlay-']) {
  background-color: #475577;
}
.bg-chambray[class*='overlay-']:after {
  background-color: #475577;
}
.bg-chambray[class*='overlay-'] .contrast-bg {
  background-color: #ffffff;
  border-color: #ffffff;
}
.hi-chambray .bg-highlight {
  background-color: #475577 !important;
  color: #ffffff !important;
}
.hi-chambray .border-highlight {
  border-color: #475577 !important;
}
/* nav-in class in added to html. */
/* Collapse */
header.bg-chambray,
header.menu-bg-chambray .navbar-collapse.in,
header.menu-bg-chambray .navbar-collapse.collapsing {
  background-color: #475577;
}
header.txt-chambray ul.nav > li.nav-btn a,
header.menu-txt-chambray .navbar-collapse.in ul.nav > li.nav-btn a,
header.menu-txt-chambray .navbar-collapse.collapsing ul.nav > li.nav-btn a {
  border-color: #475577;
}
header.txt-chambray ul.nav > li > a,
header.menu-txt-chambray .navbar-collapse.in ul.nav > li > a,
header.menu-txt-chambray .navbar-collapse.collapsing ul.nav > li > a {
  color: #475577;
}
header.txt-chambray ul.nav > li > a.active,
header.menu-txt-chambray .navbar-collapse.in ul.nav > li > a.active,
header.menu-txt-chambray .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-chambray ul.nav > li > a.active.filled,
header.menu-txt-chambray .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-txt-chambray .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  color: #b8312f;
  color: #ffffff;
}
header.txt-chambray ul.nav > li > a.popout,
header.menu-txt-chambray .navbar-collapse.in ul.nav > li > a.popout,
header.menu-txt-chambray .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f;
  border-color: #b8312f;
  background-color: transparent;
}
header.txt-chambray ul.nav > li > a.popout.filled,
header.menu-txt-chambray .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-txt-chambray .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f;
  color: #ffffff;
}
header.txt-chambray ul.nav > li > a.popout:hover,
header.menu-txt-chambray .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-txt-chambray .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f;
  color: #ffffff;
}
header.txt-chambray ul.nav > li > a.filled:hover,
header.menu-txt-chambray .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-txt-chambray .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d14b49;
  background-color: #d14b49;
  color: #ffffff;
}
header.txt-chambray ul.nav > li > a:hover,
header.menu-txt-chambray .navbar-collapse.in ul.nav > li > a:hover,
header.menu-txt-chambray .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-chambray a.brand,
header.menu-txt-chambray .navbar-collapse.in a.brand,
header.menu-txt-chambray .navbar-collapse.collapsing a.brand {
  color: #475577;
}
header.txt-chambray button.dismiss-navbar,
header.menu-txt-chambray .navbar-collapse.in button.dismiss-navbar,
header.menu-txt-chambray .navbar-collapse.collapsing button.dismiss-navbar {
  color: #475577;
}
header.txt-chambray .navbar-toggle {
  color: #475577;
}
header.txt-chambray .navbar-toggle .icon-bar {
  background-color: #475577;
}
header.hi-chambray a.brand:hover,
header.menu-hi-chambray .navbar-collapse.in a.brand:hover,
header.menu-hi-chambray .navbar-collapse.collapsing a.brand:hover {
  color: #475577;
}
header.hi-chambray ul.nav > li > a.active,
header.menu-hi-chambray .navbar-collapse.in ul.nav > li > a.active,
header.menu-hi-chambray .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #475577 !important;
  border-color: #475577 !important;
}
header.hi-chambray ul.nav > li > a.active.filled,
header.menu-hi-chambray .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-hi-chambray .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  background-color: #475577 !important;
  color: #ffffff !important;
}
header.hi-chambray ul.nav > li > a.popout,
header.menu-hi-chambray .navbar-collapse.in ul.nav > li > a.popout,
header.menu-hi-chambray .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #475577 !important;
  border-color: #475577 !important;
}
header.hi-chambray ul.nav > li > a.popout.filled,
header.menu-hi-chambray .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-hi-chambray .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #475577 !important;
  color: #ffffff !important;
}
header.hi-chambray ul.nav > li > a.popout.filled:hover,
header.menu-hi-chambray .navbar-collapse.in ul.nav > li > a.popout.filled:hover,
header.menu-hi-chambray .navbar-collapse.collapsing ul.nav > li > a.popout.filled:hover {
  border-color: #5a6c97 !important;
  background-color: #5a6c97 !important;
  color: #ffffff !important;
}
header.hi-chambray ul.nav > li > a.popout:hover,
header.menu-hi-chambray .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-hi-chambray .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #475577 !important;
  color: #ffffff !important;
}
header.hi-chambray ul.nav > li > a.filled:hover,
header.menu-hi-chambray .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-hi-chambray .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #475577 !important;
  background-color: #475577 !important;
  color: #ffffff !important;
}
header.hi-chambray ul.nav > li > a:hover,
header.menu-hi-chambray .navbar-collapse.in ul.nav > li > a:hover,
header.menu-hi-chambray .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #475577 !important;
  border-color: #475577 !important;
}
footer.bg-chambray {
  background: #475577;
}
footer.txt-chambray {
  border-top-color: #475577;
}
.bg-chambray .form-inline .input-group-btn.f-btn {
  background: #475577;
}
.bg-chambray .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
.txt-chambray .form-control {
  border-color: #475577;
}
.txt-chambray .form-inline .input-group .input-group-btn:not(.f-btn):not(.r-btn) {
  border-color: #475577;
}
.hi-chambray .form-inline .input-group-btn.f-btn:hover {
  background: #475577;
}
