.txt-chateau-green .f-btn {
  color: #41a85f;
  border-color: #41a85f;
}
.txt-chateau-green .f-btn.highlight {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-chateau-green .f-btn:hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.txt-chateau-green .r-btn {
  color: #ffffff;
  border-color: #41a85f;
  background: #41a85f;
}
.txt-chateau-green .r-btn:hover {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-chateau-green .r-btn.highlight {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-chateau-green .r-btn.highlight:hover {
  color: #ffffff;
  background: #d14b49;
  border-color: #d14b49;
}
.hi-chateau-green .f-btn:hover {
  background: #41a85f !important;
  border-color: #41a85f !important;
  color: #ffffff !important;
}
.hi-chateau-green .f-btn.highlight {
  color: #41a85f !important;
  border-color: #41a85f !important;
}
.hi-chateau-green .f-btn.highlight:hover {
  color: #ffffff !important;
}
.hi-chateau-green .r-btn:hover {
  color: #ffffff !important;
  background: #41a85f !important;
  border-color: #41a85f !important;
}
.hi-chateau-green .r-btn.highlight {
  color: #ffffff !important;
  background: #41a85f !important;
  border-color: #41a85f !important;
}
.hi-chateau-green .r-btn.highlight:hover {
  background: #33834a !important;
  border-color: #33834a !important;
}
.txt-chateau-green {
  color: #41a85f;
}
.txt-chateau-green .bordered {
  border-color: #41a85f;
}
.txt-chateau-green .highlight {
  color: #b8312f;
}
.txt-chateau-green .highlight.bordered {
  border-color: #b8312f;
}
.txt-chateau-green .box {
  border-color: #41a85f;
}
.txt-chateau-green .box * {
  border-color: #41a85f;
}
.hi-chateau-green .highlight {
  color: #41a85f !important;
}
.hi-chateau-green .highlight.bordered {
  border-color: #41a85f;
}
.txt-chateau-green .alt-link {
  color: #41a85f;
}
.txt-chateau-green .colored-box {
  color: #41a85f;
}
.txt-chateau-green .colored-box a.alt-link:not(.box-link) {
  color: #41a85f;
}
.txt-chateau-green .colored-box a.alt-link:not(.box-link):hover {
  color: #e59c9b;
}
.txt-chateau-green .colored-box a.box-link {
  color: #41a85f;
}
.txt-chateau-green .hover-box {
  border-color: #41a85f;
}
.txt-chateau-green .hover-box *:not(.highlight) {
  color: #41a85f;
}
.txt-chateau-green .hover-box:hover {
  color: #ffffff;
}
.txt-chateau-green .hover-box:hover * {
  color: #ffffff;
}
.txt-chateau-green .network-icon {
  background: #41a85f;
  color: #ffffff;
}
.txt-chateau-green .network-icon:not(.r-btn):not(.f-btn):hover {
  background: #5cc079;
  border-color: #5cc079;
}
.txt-chateau-green .network-icon.f-btn {
  color: #41a85f;
}
.hi-chateau-green:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link) {
  color: #41a85f;
}
.hi-chateau-green:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link).network-icon {
  color: #ffffff;
}
.hi-chateau-green:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link):hover {
  color: #2c7140;
}
.hi-chateau-green .alt-link:hover {
  color: #41a85f !important;
}
.hi-chateau-green .colored-box {
  background: #41a85f;
  color: #ffffff;
}
.hi-chateau-green .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link) {
  color: #a6dcb6;
}
.hi-chateau-green .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link):hover {
  color: #eff9f2;
}
.hi-chateau-green .colored-box a.alt-link {
  color: #ffffff;
}
.hi-chateau-green .colored-box a.alt-link:hover {
  color: #a6dcb6 !important;
}
.hi-chateau-green .colored-box a.box-link {
  color: #ffffff;
}
.hi-chateau-green .colored-box a.box-link:after {
  background-color: #000000;
}
.hi-chateau-green .hover-box *:not(.highlight) {
  color: #252525;
}
.hi-chateau-green .hover-box:hover {
  background: #41a85f;
  color: #ffffff !important;
}
.hi-chateau-green .hover-box:hover * {
  color: #ffffff !important;
}
.hi-chateau-green .network-icon.f-btn:not([class*='-hover']):hover {
  color: #252525;
  background: #41a85f;
  border-color: #41a85f;
}
.hi-chateau-green .network-icon.f-btn.highlight:hover {
  background: #41a85f;
  color: #252525;
}
.bg-chateau-green:not([class*='overlay-']) {
  background-color: #41a85f;
}
.bg-chateau-green[class*='overlay-']:after {
  background-color: #41a85f;
}
.bg-chateau-green[class*='overlay-'] .contrast-bg {
  background-color: #ffffff;
  border-color: #ffffff;
}
.hi-chateau-green .bg-highlight {
  background-color: #41a85f !important;
  color: #ffffff !important;
}
.hi-chateau-green .border-highlight {
  border-color: #41a85f !important;
}
/* nav-in class in added to html. */
/* Collapse */
header.bg-chateau-green,
header.menu-bg-chateau-green .navbar-collapse.in,
header.menu-bg-chateau-green .navbar-collapse.collapsing {
  background-color: #41a85f;
}
header.txt-chateau-green ul.nav > li.nav-btn a,
header.menu-txt-chateau-green .navbar-collapse.in ul.nav > li.nav-btn a,
header.menu-txt-chateau-green .navbar-collapse.collapsing ul.nav > li.nav-btn a {
  border-color: #41a85f;
}
header.txt-chateau-green ul.nav > li > a,
header.menu-txt-chateau-green .navbar-collapse.in ul.nav > li > a,
header.menu-txt-chateau-green .navbar-collapse.collapsing ul.nav > li > a {
  color: #41a85f;
}
header.txt-chateau-green ul.nav > li > a.active,
header.menu-txt-chateau-green .navbar-collapse.in ul.nav > li > a.active,
header.menu-txt-chateau-green .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-chateau-green ul.nav > li > a.active.filled,
header.menu-txt-chateau-green .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-txt-chateau-green .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  color: #b8312f;
  color: #ffffff;
}
header.txt-chateau-green ul.nav > li > a.popout,
header.menu-txt-chateau-green .navbar-collapse.in ul.nav > li > a.popout,
header.menu-txt-chateau-green .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f;
  border-color: #b8312f;
  background-color: transparent;
}
header.txt-chateau-green ul.nav > li > a.popout.filled,
header.menu-txt-chateau-green .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-txt-chateau-green .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f;
  color: #ffffff;
}
header.txt-chateau-green ul.nav > li > a.popout:hover,
header.menu-txt-chateau-green .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-txt-chateau-green .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f;
  color: #ffffff;
}
header.txt-chateau-green ul.nav > li > a.filled:hover,
header.menu-txt-chateau-green .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-txt-chateau-green .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d14b49;
  background-color: #d14b49;
  color: #ffffff;
}
header.txt-chateau-green ul.nav > li > a:hover,
header.menu-txt-chateau-green .navbar-collapse.in ul.nav > li > a:hover,
header.menu-txt-chateau-green .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-chateau-green a.brand,
header.menu-txt-chateau-green .navbar-collapse.in a.brand,
header.menu-txt-chateau-green .navbar-collapse.collapsing a.brand {
  color: #41a85f;
}
header.txt-chateau-green button.dismiss-navbar,
header.menu-txt-chateau-green .navbar-collapse.in button.dismiss-navbar,
header.menu-txt-chateau-green .navbar-collapse.collapsing button.dismiss-navbar {
  color: #41a85f;
}
header.txt-chateau-green .navbar-toggle {
  color: #41a85f;
}
header.txt-chateau-green .navbar-toggle .icon-bar {
  background-color: #41a85f;
}
header.hi-chateau-green a.brand:hover,
header.menu-hi-chateau-green .navbar-collapse.in a.brand:hover,
header.menu-hi-chateau-green .navbar-collapse.collapsing a.brand:hover {
  color: #41a85f;
}
header.hi-chateau-green ul.nav > li > a.active,
header.menu-hi-chateau-green .navbar-collapse.in ul.nav > li > a.active,
header.menu-hi-chateau-green .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #41a85f !important;
  border-color: #41a85f !important;
}
header.hi-chateau-green ul.nav > li > a.active.filled,
header.menu-hi-chateau-green .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-hi-chateau-green .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  background-color: #41a85f !important;
  color: #ffffff !important;
}
header.hi-chateau-green ul.nav > li > a.popout,
header.menu-hi-chateau-green .navbar-collapse.in ul.nav > li > a.popout,
header.menu-hi-chateau-green .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #41a85f !important;
  border-color: #41a85f !important;
}
header.hi-chateau-green ul.nav > li > a.popout.filled,
header.menu-hi-chateau-green .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-hi-chateau-green .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #41a85f !important;
  color: #ffffff !important;
}
header.hi-chateau-green ul.nav > li > a.popout.filled:hover,
header.menu-hi-chateau-green .navbar-collapse.in ul.nav > li > a.popout.filled:hover,
header.menu-hi-chateau-green .navbar-collapse.collapsing ul.nav > li > a.popout.filled:hover {
  border-color: #33834a !important;
  background-color: #33834a !important;
  color: #ffffff !important;
}
header.hi-chateau-green ul.nav > li > a.popout:hover,
header.menu-hi-chateau-green .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-hi-chateau-green .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #41a85f !important;
  color: #ffffff !important;
}
header.hi-chateau-green ul.nav > li > a.filled:hover,
header.menu-hi-chateau-green .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-hi-chateau-green .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #41a85f !important;
  background-color: #41a85f !important;
  color: #ffffff !important;
}
header.hi-chateau-green ul.nav > li > a:hover,
header.menu-hi-chateau-green .navbar-collapse.in ul.nav > li > a:hover,
header.menu-hi-chateau-green .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #41a85f !important;
  border-color: #41a85f !important;
}
footer.bg-chateau-green {
  background: #41a85f;
}
footer.txt-chateau-green {
  border-top-color: #41a85f;
}
.bg-chateau-green .form-inline .input-group-btn.f-btn {
  background: #41a85f;
}
.bg-chateau-green .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
.txt-chateau-green .form-control {
  border-color: #41a85f;
}
.txt-chateau-green .form-inline .input-group .input-group-btn:not(.f-btn):not(.r-btn) {
  border-color: #41a85f;
}
.hi-chateau-green .form-inline .input-group-btn.f-btn:hover {
  background: #41a85f;
}
