.txt-cinnabar .f-btn {
  color: #e25041;
  border-color: #e25041;
}
.txt-cinnabar .f-btn.highlight {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-cinnabar .f-btn:hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.txt-cinnabar .r-btn {
  color: #ffffff;
  border-color: #e25041;
  background: #e25041;
}
.txt-cinnabar .r-btn:hover {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-cinnabar .r-btn.highlight {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-cinnabar .r-btn.highlight:hover {
  color: #ffffff;
  background: #d14b49;
  border-color: #d14b49;
}
.hi-cinnabar .f-btn:hover {
  background: #e25041 !important;
  border-color: #e25041 !important;
  color: #ffffff !important;
}
.hi-cinnabar .f-btn.highlight {
  color: #e25041 !important;
  border-color: #e25041 !important;
}
.hi-cinnabar .f-btn.highlight:hover {
  color: #ffffff !important;
}
.hi-cinnabar .r-btn:hover {
  color: #ffffff !important;
  background: #e25041 !important;
  border-color: #e25041 !important;
}
.hi-cinnabar .r-btn.highlight {
  color: #ffffff !important;
  background: #e25041 !important;
  border-color: #e25041 !important;
}
.hi-cinnabar .r-btn.highlight:hover {
  background: #d03020 !important;
  border-color: #d03020 !important;
}
.txt-cinnabar {
  color: #e25041;
}
.txt-cinnabar .bordered {
  border-color: #e25041;
}
.txt-cinnabar .highlight {
  color: #b8312f;
}
.txt-cinnabar .highlight.bordered {
  border-color: #b8312f;
}
.txt-cinnabar .box {
  border-color: #e25041;
}
.txt-cinnabar .box * {
  border-color: #e25041;
}
.hi-cinnabar .highlight {
  color: #e25041 !important;
}
.hi-cinnabar .highlight.bordered {
  border-color: #e25041;
}
.txt-cinnabar .alt-link {
  color: #e25041;
}
.txt-cinnabar .colored-box {
  color: #e25041;
}
.txt-cinnabar .colored-box a.alt-link:not(.box-link) {
  color: #e25041;
}
.txt-cinnabar .colored-box a.alt-link:not(.box-link):hover {
  color: #e59c9b;
}
.txt-cinnabar .colored-box a.box-link {
  color: #e25041;
}
.txt-cinnabar .hover-box {
  border-color: #e25041;
}
.txt-cinnabar .hover-box *:not(.highlight) {
  color: #e25041;
}
.txt-cinnabar .hover-box:hover {
  color: #ffffff;
}
.txt-cinnabar .hover-box:hover * {
  color: #ffffff;
}
.txt-cinnabar .network-icon {
  background: #e25041;
  color: #ffffff;
}
.txt-cinnabar .network-icon:not(.r-btn):not(.f-btn):hover {
  background: #e9796d;
  border-color: #e9796d;
}
.txt-cinnabar .network-icon.f-btn {
  color: #e25041;
}
.hi-cinnabar:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link) {
  color: #e25041;
}
.hi-cinnabar:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link).network-icon {
  color: #ffffff;
}
.hi-cinnabar:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link):hover {
  color: #ec8d83;
}
.hi-cinnabar .alt-link:hover {
  color: #e25041 !important;
}
.hi-cinnabar:not(header) .colored-box {
  background: #e25041;
  color: #ffffff;
}
.hi-cinnabar:not(header) .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link) {
  color: #f6cac6;
}
.hi-cinnabar:not(header) .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link):hover {
  color: #ffffff;
}
.hi-cinnabar:not(header) .colored-box a.alt-link {
  color: #ffffff;
}
.hi-cinnabar:not(header) .colored-box a.alt-link:hover {
  color: #f6cac6 !important;
}
.hi-cinnabar:not(header) .colored-box a.box-link {
  color: #ffffff;
}
.hi-cinnabar:not(header) .colored-box a.box-link:after {
  background-color: #000000;
}
.hi-cinnabar .hover-box *:not(.highlight) {
  color: #252525;
}
.hi-cinnabar .hover-box:hover {
  background: #e25041;
  color: #ffffff !important;
}
.hi-cinnabar .hover-box:hover * {
  color: #ffffff !important;
}
.hi-cinnabar .network-icon.f-btn:not([class*='-hover']):hover {
  color: #252525;
  background: #e25041;
  border-color: #e25041;
}
.hi-cinnabar .network-icon.f-btn.highlight:hover {
  background: #e25041;
  color: #252525;
}
.bg-cinnabar:not([class*='overlay-']) {
  background-color: #e25041;
}
.bg-cinnabar[class*='overlay-']:after {
  background-color: #e25041;
}
.bg-cinnabar[class*='overlay-'] .contrast-bg {
  background-color: #ffffff;
  border-color: #ffffff;
}
.hi-cinnabar .bg-highlight {
  background-color: #e25041 !important;
  color: #ffffff !important;
}
.hi-cinnabar .border-highlight {
  border-color: #e25041 !important;
}
/* nav-in class in added to html. */
/* Collapse */
header.bg-cinnabar,
header.menu-bg-cinnabar .navbar-collapse.in,
header.menu-bg-cinnabar .navbar-collapse.collapsing {
  background-color: #e25041;
}
header.txt-cinnabar ul.nav > li.nav-btn a,
header.menu-txt-cinnabar .navbar-collapse.in ul.nav > li.nav-btn a,
header.menu-txt-cinnabar .navbar-collapse.collapsing ul.nav > li.nav-btn a {
  border-color: #e25041;
}
header.txt-cinnabar ul.nav > li > a,
header.menu-txt-cinnabar .navbar-collapse.in ul.nav > li > a,
header.menu-txt-cinnabar .navbar-collapse.collapsing ul.nav > li > a {
  color: #e25041;
}
header.txt-cinnabar ul.nav > li > a.active,
header.menu-txt-cinnabar .navbar-collapse.in ul.nav > li > a.active,
header.menu-txt-cinnabar .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-cinnabar ul.nav > li > a.active.filled,
header.menu-txt-cinnabar .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-txt-cinnabar .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  color: #b8312f;
  color: #ffffff;
}
header.txt-cinnabar ul.nav > li > a.popout,
header.menu-txt-cinnabar .navbar-collapse.in ul.nav > li > a.popout,
header.menu-txt-cinnabar .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f;
  border-color: #b8312f;
  background-color: transparent;
}
header.txt-cinnabar ul.nav > li > a.popout.filled,
header.menu-txt-cinnabar .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-txt-cinnabar .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f;
  color: #ffffff;
}
header.txt-cinnabar ul.nav > li > a.popout:hover,
header.menu-txt-cinnabar .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-txt-cinnabar .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f;
  color: #ffffff;
}
header.txt-cinnabar ul.nav > li > a.filled:hover,
header.menu-txt-cinnabar .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-txt-cinnabar .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d14b49;
  background-color: #d14b49;
  color: #ffffff;
}
header.txt-cinnabar ul.nav > li > a:hover,
header.menu-txt-cinnabar .navbar-collapse.in ul.nav > li > a:hover,
header.menu-txt-cinnabar .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-cinnabar a.brand,
header.menu-txt-cinnabar .navbar-collapse.in a.brand,
header.menu-txt-cinnabar .navbar-collapse.collapsing a.brand {
  color: #e25041;
}
header.txt-cinnabar button.dismiss-navbar,
header.menu-txt-cinnabar .navbar-collapse.in button.dismiss-navbar,
header.menu-txt-cinnabar .navbar-collapse.collapsing button.dismiss-navbar {
  color: #e25041;
}
header.txt-cinnabar .navbar-toggle {
  color: #e25041;
}
header.txt-cinnabar .navbar-toggle .icon-bar {
  background-color: #e25041;
}
header.hi-cinnabar a.brand:hover,
header.menu-hi-cinnabar .navbar-collapse.in a.brand:hover,
header.menu-hi-cinnabar .navbar-collapse.collapsing a.brand:hover {
  color: #e25041;
}
header.hi-cinnabar ul.nav > li > a.active,
header.menu-hi-cinnabar .navbar-collapse.in ul.nav > li > a.active,
header.menu-hi-cinnabar .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #e25041 !important;
  border-color: #e25041 !important;
}
header.hi-cinnabar ul.nav > li > a.active.filled,
header.menu-hi-cinnabar .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-hi-cinnabar .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  background-color: #e25041 !important;
  color: #ffffff !important;
}
header.hi-cinnabar ul.nav > li > a.popout,
header.menu-hi-cinnabar .navbar-collapse.in ul.nav > li > a.popout,
header.menu-hi-cinnabar .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #e25041 !important;
  border-color: #e25041 !important;
}
header.hi-cinnabar ul.nav > li > a.popout.filled,
header.menu-hi-cinnabar .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-hi-cinnabar .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #e25041 !important;
  color: #ffffff !important;
}
header.hi-cinnabar ul.nav > li > a.popout.filled:hover,
header.menu-hi-cinnabar .navbar-collapse.in ul.nav > li > a.popout.filled:hover,
header.menu-hi-cinnabar .navbar-collapse.collapsing ul.nav > li > a.popout.filled:hover {
  border-color: #e9796d !important;
  background-color: #e9796d !important;
  color: #ffffff !important;
}
header.hi-cinnabar ul.nav > li > a.popout:hover,
header.menu-hi-cinnabar .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-hi-cinnabar .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #e25041 !important;
  color: #ffffff !important;
}
header.hi-cinnabar ul.nav > li > a.filled:hover,
header.menu-hi-cinnabar .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-hi-cinnabar .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #e25041 !important;
  background-color: #e25041 !important;
  color: #ffffff !important;
}
header.hi-cinnabar ul.nav > li > a:hover,
header.menu-hi-cinnabar .navbar-collapse.in ul.nav > li > a:hover,
header.menu-hi-cinnabar .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #e25041 !important;
  border-color: #e25041 !important;
}
footer.bg-cinnabar {
  background: #e25041;
}
footer.txt-cinnabar {
  border-top-color: #e25041;
}
.bg-cinnabar .form-inline .input-group-btn.f-btn {
  background: #e25041;
}
.bg-cinnabar .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
.txt-cinnabar .form-control {
  border-color: #e25041;
}
.txt-cinnabar .form-inline .input-group .input-group-btn:not(.f-btn):not(.r-btn) {
  border-color: #e25041;
}
.hi-cinnabar .form-inline .input-group-btn.f-btn:hover {
  background: #e25041;
}
