.txt-denim .f-btn {
  color: #2969b0;
  border-color: #2969b0;
}
.txt-denim .f-btn.highlight {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-denim .f-btn:hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.txt-denim .r-btn {
  color: #ffffff;
  border-color: #2969b0;
  background: #2969b0;
}
.txt-denim .r-btn:hover {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-denim .r-btn.highlight {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-denim .r-btn.highlight:hover {
  color: #ffffff;
  background: #d14b49;
  border-color: #d14b49;
}
.hi-denim .f-btn:hover {
  background: #2969b0 !important;
  border-color: #2969b0 !important;
  color: #ffffff !important;
}
.hi-denim .f-btn.highlight {
  color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.hi-denim .f-btn.highlight:hover {
  color: #ffffff !important;
}
.hi-denim .r-btn:hover {
  color: #ffffff !important;
  background: #2969b0 !important;
  border-color: #2969b0 !important;
}
.hi-denim .r-btn.highlight {
  color: #ffffff !important;
  background: #2969b0 !important;
  border-color: #2969b0 !important;
}
.hi-denim .r-btn.highlight:hover {
  background: #3b82d1 !important;
  border-color: #3b82d1 !important;
}
.txt-denim {
  color: #2969b0;
}
.txt-denim .bordered {
  border-color: #2969b0;
}
.txt-denim .highlight {
  color: #b8312f;
}
.txt-denim .highlight.bordered {
  border-color: #b8312f;
}
.txt-denim .box {
  border-color: #2969b0;
}
.txt-denim .box * {
  border-color: #2969b0;
}
.hi-denim .highlight {
  color: #2969b0 !important;
}
.hi-denim .highlight.bordered {
  border-color: #2969b0;
}
.txt-denim .alt-link {
  color: #2969b0;
}
.txt-denim .colored-box {
  color: #2969b0;
}
.txt-denim .colored-box a.alt-link:not(.box-link) {
  color: #2969b0;
}
.txt-denim .colored-box a.alt-link:not(.box-link):hover {
  color: #e59c9b;
}
.txt-denim .colored-box a.box-link {
  color: #2969b0;
}
.txt-denim .hover-box {
  border-color: #2969b0;
}
.txt-denim .hover-box *:not(.highlight) {
  color: #2969b0;
}
.txt-denim .hover-box:hover {
  color: #ffffff;
}
.txt-denim .hover-box:hover * {
  color: #ffffff;
}
.txt-denim .network-icon {
  background: #2969b0;
  color: #ffffff;
}
.txt-denim .network-icon:not(.r-btn):not(.f-btn):hover {
  background: #3b82d1;
  border-color: #3b82d1;
}
.txt-denim .network-icon.f-btn {
  color: #2969b0;
}
.hi-denim:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link) {
  color: #2969b0;
}
.hi-denim:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link).network-icon {
  color: #ffffff;
}
.hi-denim:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link):hover {
  color: #4f8fd6;
}
.hi-denim .alt-link:hover {
  color: #2969b0 !important;
}
.hi-denim .colored-box {
  background: #2969b0;
  color: #ffffff;
}
.hi-denim .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link) {
  color: #8db7e5;
}
.hi-denim .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link):hover {
  color: #e0ebf8;
}
.hi-denim .colored-box a.alt-link {
  color: #ffffff;
}
.hi-denim .colored-box a.alt-link:hover {
  color: #8db7e5 !important;
}
.hi-denim .colored-box a.box-link {
  color: #ffffff;
}
.hi-denim .colored-box a.box-link:after {
  background-color: #ffffff;
}
.hi-denim .hover-box *:not(.highlight) {
  color: #252525;
}
.hi-denim .hover-box:hover {
  background: #2969b0;
  color: #ffffff !important;
}
.hi-denim .hover-box:hover * {
  color: #ffffff !important;
}
.hi-denim .network-icon.f-btn:not([class*='-hover']):hover {
  color: #ffffff;
  background: #2969b0;
  border-color: #2969b0;
}
.hi-denim .network-icon.f-btn.highlight:hover {
  background: #2969b0;
  color: #ffffff;
}
.bg-denim:not([class*='overlay-']) {
  background-color: #2969b0;
}
.bg-denim[class*='overlay-']:after {
  background-color: #2969b0;
}
.bg-denim[class*='overlay-'] .contrast-bg {
  background-color: #ffffff;
  border-color: #ffffff;
}
.hi-denim .bg-highlight {
  background-color: #2969b0 !important;
  color: #ffffff !important;
}
.hi-denim .border-highlight {
  border-color: #2969b0 !important;
}
/* nav-in class in added to html. */
/* Collapse */
header.bg-denim,
header.menu-bg-denim .navbar-collapse.in,
header.menu-bg-denim .navbar-collapse.collapsing {
  background-color: #2969b0;
}
header.txt-denim ul.nav > li.nav-btn a,
header.menu-txt-denim .navbar-collapse.in ul.nav > li.nav-btn a,
header.menu-txt-denim .navbar-collapse.collapsing ul.nav > li.nav-btn a {
  border-color: #2969b0;
}
header.txt-denim ul.nav > li > a,
header.menu-txt-denim .navbar-collapse.in ul.nav > li > a,
header.menu-txt-denim .navbar-collapse.collapsing ul.nav > li > a {
  color: #2969b0;
}
header.txt-denim ul.nav > li > a.active,
header.menu-txt-denim .navbar-collapse.in ul.nav > li > a.active,
header.menu-txt-denim .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-denim ul.nav > li > a.active.filled,
header.menu-txt-denim .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-txt-denim .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  color: #b8312f;
  color: #ffffff;
}
header.txt-denim ul.nav > li > a.popout,
header.menu-txt-denim .navbar-collapse.in ul.nav > li > a.popout,
header.menu-txt-denim .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f;
  border-color: #b8312f;
  background-color: transparent;
}
header.txt-denim ul.nav > li > a.popout.filled,
header.menu-txt-denim .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-txt-denim .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f;
  color: #ffffff;
}
header.txt-denim ul.nav > li > a.popout:hover,
header.menu-txt-denim .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-txt-denim .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f;
  color: #ffffff;
}
header.txt-denim ul.nav > li > a.filled:hover,
header.menu-txt-denim .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-txt-denim .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d14b49;
  background-color: #d14b49;
  color: #ffffff;
}
header.txt-denim ul.nav > li > a:hover,
header.menu-txt-denim .navbar-collapse.in ul.nav > li > a:hover,
header.menu-txt-denim .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-denim a.brand,
header.menu-txt-denim .navbar-collapse.in a.brand,
header.menu-txt-denim .navbar-collapse.collapsing a.brand {
  color: #2969b0;
}
header.txt-denim button.dismiss-navbar,
header.menu-txt-denim .navbar-collapse.in button.dismiss-navbar,
header.menu-txt-denim .navbar-collapse.collapsing button.dismiss-navbar {
  color: #2969b0;
}
header.txt-denim .navbar-toggle {
  color: #2969b0;
}
header.txt-denim .navbar-toggle .icon-bar {
  background-color: #2969b0;
}
header.hi-denim a.brand:hover,
header.menu-hi-denim .navbar-collapse.in a.brand:hover,
header.menu-hi-denim .navbar-collapse.collapsing a.brand:hover {
  color: #2969b0;
}
header.hi-denim ul.nav > li > a.active,
header.menu-hi-denim .navbar-collapse.in ul.nav > li > a.active,
header.menu-hi-denim .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #2969b0 !important;
  border-color: #2969b0 !important;
}
header.hi-denim ul.nav > li > a.active.filled,
header.menu-hi-denim .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-hi-denim .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  background-color: #2969b0 !important;
  color: #ffffff !important;
}
header.hi-denim ul.nav > li > a.popout,
header.menu-hi-denim .navbar-collapse.in ul.nav > li > a.popout,
header.menu-hi-denim .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #2969b0 !important;
  border-color: #2969b0 !important;
}
header.hi-denim ul.nav > li > a.popout.filled,
header.menu-hi-denim .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-hi-denim .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #2969b0 !important;
  color: #ffffff !important;
}
header.hi-denim ul.nav > li > a.popout.filled:hover,
header.menu-hi-denim .navbar-collapse.in ul.nav > li > a.popout.filled:hover,
header.menu-hi-denim .navbar-collapse.collapsing ul.nav > li > a.popout.filled:hover {
  border-color: #3b82d1 !important;
  background-color: #3b82d1 !important;
  color: #ffffff !important;
}
header.hi-denim ul.nav > li > a.popout:hover,
header.menu-hi-denim .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-hi-denim .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #2969b0 !important;
  color: #ffffff !important;
}
header.hi-denim ul.nav > li > a.filled:hover,
header.menu-hi-denim .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-hi-denim .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #2969b0 !important;
  background-color: #2969b0 !important;
  color: #ffffff !important;
}
header.hi-denim ul.nav > li > a:hover,
header.menu-hi-denim .navbar-collapse.in ul.nav > li > a:hover,
header.menu-hi-denim .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #2969b0 !important;
  border-color: #2969b0 !important;
}
footer.bg-denim {
  background: #2969b0;
}
footer.txt-denim {
  border-top-color: #2969b0;
}
.bg-denim .form-inline .input-group-btn.f-btn {
  background: #2969b0;
}
.bg-denim .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
.txt-denim .form-control {
  border-color: #2969b0;
}
.txt-denim .form-inline .input-group .input-group-btn:not(.f-btn):not(.r-btn) {
  border-color: #2969b0;
}
.hi-denim .form-inline .input-group-btn.f-btn:hover {
  background: #2969b0;
}
