.txt-fern .f-btn {
  color: #61bd6d;
  border-color: #61bd6d;
}
.txt-fern .f-btn.highlight {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-fern .f-btn:hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.txt-fern .r-btn {
  color: #252525;
  border-color: #61bd6d;
  background: #61bd6d;
}
.txt-fern .r-btn:hover {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-fern .r-btn.highlight {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-fern .r-btn.highlight:hover {
  color: #ffffff;
  background: #d14b49;
  border-color: #d14b49;
}
.hi-fern .f-btn:hover {
  background: #61bd6d !important;
  border-color: #61bd6d !important;
  color: #252525 !important;
}
.hi-fern .f-btn.highlight {
  color: #61bd6d !important;
  border-color: #61bd6d !important;
}
.hi-fern .f-btn.highlight:hover {
  color: #252525 !important;
}
.hi-fern .r-btn:hover {
  color: #252525 !important;
  background: #61bd6d !important;
  border-color: #61bd6d !important;
}
.hi-fern .r-btn.highlight {
  color: #252525 !important;
  background: #61bd6d !important;
  border-color: #61bd6d !important;
}
.hi-fern .r-btn.highlight:hover {
  background: #45a652 !important;
  border-color: #45a652 !important;
}
.txt-fern {
  color: #61bd6d;
}
.txt-fern .bordered {
  border-color: #61bd6d;
}
.txt-fern .highlight {
  color: #b8312f;
}
.txt-fern .highlight.bordered {
  border-color: #b8312f;
}
.txt-fern .box {
  border-color: #61bd6d;
}
.txt-fern .box * {
  border-color: #61bd6d;
}
.hi-fern .highlight {
  color: #61bd6d !important;
}
.hi-fern .highlight.bordered {
  border-color: #61bd6d;
}
.txt-fern .alt-link {
  color: #61bd6d;
}
.txt-fern .colored-box {
  color: #61bd6d;
}
.txt-fern .colored-box a.alt-link:not(.box-link) {
  color: #61bd6d;
}
.txt-fern .colored-box a.alt-link:not(.box-link):hover {
  color: #e59c9b;
}
.txt-fern .colored-box a.box-link {
  color: #61bd6d;
}
.txt-fern .hover-box {
  border-color: #61bd6d;
}
.txt-fern .hover-box *:not(.highlight) {
  color: #61bd6d;
}
.txt-fern .hover-box:hover {
  color: #ffffff;
}
.txt-fern .hover-box:hover * {
  color: #ffffff;
}
.txt-fern .network-icon {
  background: #61bd6d;
  color: #252525;
}
.txt-fern .network-icon:not(.r-btn):not(.f-btn):hover {
  background: #85cc8e;
  border-color: #85cc8e;
}
.txt-fern .network-icon.f-btn {
  color: #61bd6d;
}
.hi-fern:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link) {
  color: #61bd6d;
}
.hi-fern:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link).network-icon {
  color: #ffffff;
}
.hi-fern:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link):hover {
  color: #3e9449;
}
.hi-fern .alt-link:hover {
  color: #61bd6d !important;
}
.hi-fern .colored-box {
  background: #61bd6d;
  color: #252525;
}
.hi-fern .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link) {
  color: #275e2e;
}
.hi-fern .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link):hover {
  color: #09160b;
}
.hi-fern .colored-box a.alt-link {
  color: #252525;
}
.hi-fern .colored-box a.alt-link:hover {
  color: #275e2e !important;
}
.hi-fern .colored-box a.box-link {
  color: #252525;
}
.hi-fern .colored-box a.box-link:after {
  background-color: #000000;
}
.hi-fern .hover-box *:not(.highlight) {
  color: #252525;
}
.hi-fern .hover-box:hover {
  background: #61bd6d;
  color: #252525 !important;
}
.hi-fern .hover-box:hover * {
  color: #252525 !important;
}
.hi-fern .network-icon.f-btn:not([class*='-hover']):hover {
  color: #252525;
  background: #61bd6d;
  border-color: #61bd6d;
}
.hi-fern .network-icon.f-btn.highlight:hover {
  background: #61bd6d;
  color: #252525;
}
.bg-fern:not([class*='overlay-']) {
  background-color: #61bd6d;
}
.bg-fern[class*='overlay-']:after {
  background-color: #61bd6d;
}
.bg-fern[class*='overlay-'] .contrast-bg {
  background-color: #000000;
  border-color: #000000;
}
.hi-fern .bg-highlight {
  background-color: #61bd6d !important;
  color: #000000 !important;
}
.hi-fern .border-highlight {
  border-color: #61bd6d !important;
}
/* nav-in class in added to html. */
/* Collapse */
header.bg-fern,
header.menu-bg-fern .navbar-collapse.in,
header.menu-bg-fern .navbar-collapse.collapsing {
  background-color: #61bd6d;
}
header.txt-fern ul.nav > li.nav-btn a,
header.menu-txt-fern .navbar-collapse.in ul.nav > li.nav-btn a,
header.menu-txt-fern .navbar-collapse.collapsing ul.nav > li.nav-btn a {
  border-color: #61bd6d;
}
header.txt-fern ul.nav > li > a,
header.menu-txt-fern .navbar-collapse.in ul.nav > li > a,
header.menu-txt-fern .navbar-collapse.collapsing ul.nav > li > a {
  color: #61bd6d;
}
header.txt-fern ul.nav > li > a.active,
header.menu-txt-fern .navbar-collapse.in ul.nav > li > a.active,
header.menu-txt-fern .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-fern ul.nav > li > a.active.filled,
header.menu-txt-fern .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-txt-fern .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  color: #b8312f;
  color: #ffffff;
}
header.txt-fern ul.nav > li > a.popout,
header.menu-txt-fern .navbar-collapse.in ul.nav > li > a.popout,
header.menu-txt-fern .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f;
  border-color: #b8312f;
  background-color: transparent;
}
header.txt-fern ul.nav > li > a.popout.filled,
header.menu-txt-fern .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-txt-fern .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f;
  color: #ffffff;
}
header.txt-fern ul.nav > li > a.popout:hover,
header.menu-txt-fern .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-txt-fern .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f;
  color: #ffffff;
}
header.txt-fern ul.nav > li > a.filled:hover,
header.menu-txt-fern .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-txt-fern .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d14b49;
  background-color: #d14b49;
  color: #ffffff;
}
header.txt-fern ul.nav > li > a:hover,
header.menu-txt-fern .navbar-collapse.in ul.nav > li > a:hover,
header.menu-txt-fern .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-fern a.brand,
header.menu-txt-fern .navbar-collapse.in a.brand,
header.menu-txt-fern .navbar-collapse.collapsing a.brand {
  color: #61bd6d;
}
header.txt-fern button.dismiss-navbar,
header.menu-txt-fern .navbar-collapse.in button.dismiss-navbar,
header.menu-txt-fern .navbar-collapse.collapsing button.dismiss-navbar {
  color: #61bd6d;
}
header.txt-fern .navbar-toggle {
  color: #61bd6d;
}
header.txt-fern .navbar-toggle .icon-bar {
  background-color: #61bd6d;
}
header.hi-fern a.brand:hover,
header.menu-hi-fern .navbar-collapse.in a.brand:hover,
header.menu-hi-fern .navbar-collapse.collapsing a.brand:hover {
  color: #61bd6d;
}
header.hi-fern ul.nav > li > a.active,
header.menu-hi-fern .navbar-collapse.in ul.nav > li > a.active,
header.menu-hi-fern .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #61bd6d !important;
  border-color: #61bd6d !important;
}
header.hi-fern ul.nav > li > a.active.filled,
header.menu-hi-fern .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-hi-fern .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  background-color: #61bd6d !important;
  color: #252525 !important;
}
header.hi-fern ul.nav > li > a.popout,
header.menu-hi-fern .navbar-collapse.in ul.nav > li > a.popout,
header.menu-hi-fern .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #61bd6d !important;
  border-color: #61bd6d !important;
}
header.hi-fern ul.nav > li > a.popout.filled,
header.menu-hi-fern .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-hi-fern .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #61bd6d !important;
  color: #252525 !important;
}
header.hi-fern ul.nav > li > a.popout.filled:hover,
header.menu-hi-fern .navbar-collapse.in ul.nav > li > a.popout.filled:hover,
header.menu-hi-fern .navbar-collapse.collapsing ul.nav > li > a.popout.filled:hover {
  border-color: #45a652 !important;
  background-color: #45a652 !important;
  color: #252525 !important;
}
header.hi-fern ul.nav > li > a.popout:hover,
header.menu-hi-fern .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-hi-fern .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #61bd6d !important;
  color: #252525 !important;
}
header.hi-fern ul.nav > li > a.filled:hover,
header.menu-hi-fern .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-hi-fern .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #61bd6d !important;
  background-color: #61bd6d !important;
  color: #252525 !important;
}
header.hi-fern ul.nav > li > a:hover,
header.menu-hi-fern .navbar-collapse.in ul.nav > li > a:hover,
header.menu-hi-fern .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #61bd6d !important;
  border-color: #61bd6d !important;
}
footer.bg-fern {
  background: #61bd6d;
}
footer.txt-fern {
  border-top-color: #61bd6d;
}
.bg-fern .form-inline .input-group-btn.f-btn {
  background: #61bd6d;
}
.bg-fern .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
.txt-fern .form-control {
  border-color: #61bd6d;
}
.txt-fern .form-inline .input-group .input-group-btn:not(.f-btn):not(.r-btn) {
  border-color: #61bd6d;
}
.hi-fern .form-inline .input-group-btn.f-btn:hover {
  background: #61bd6d;
}
