.txt-iron .f-btn {
  color: #d1d5d8;
  border-color: #d1d5d8;
}
.txt-iron .f-btn.highlight {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-iron .f-btn:hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.txt-iron .r-btn {
  color: #252525;
  border-color: #d1d5d8;
  background: #d1d5d8;
}
.txt-iron .r-btn:hover {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-iron .r-btn.highlight {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-iron .r-btn.highlight:hover {
  color: #ffffff;
  background: #d14b49;
  border-color: #d14b49;
}
.hi-iron .f-btn:hover {
  background: #d1d5d8 !important;
  border-color: #d1d5d8 !important;
  color: #252525 !important;
}
.hi-iron .f-btn.highlight {
  color: #d1d5d8 !important;
  border-color: #d1d5d8 !important;
}
.hi-iron .f-btn.highlight:hover {
  color: #252525 !important;
}
.hi-iron .r-btn:hover {
  color: #252525 !important;
  background: #d1d5d8 !important;
  border-color: #d1d5d8 !important;
}
.hi-iron .r-btn.highlight {
  color: #252525 !important;
  background: #d1d5d8 !important;
  border-color: #d1d5d8 !important;
}
.hi-iron .r-btn.highlight:hover {
  background: #b5bcc1 !important;
  border-color: #b5bcc1 !important;
}
.txt-iron {
  color: #d1d5d8;
}
.txt-iron .bordered {
  border-color: #d1d5d8;
}
.txt-iron .highlight {
  color: #b8312f;
}
.txt-iron .highlight.bordered {
  border-color: #b8312f;
}
.txt-iron .box {
  border-color: #d1d5d8;
}
.txt-iron .box * {
  border-color: #d1d5d8;
}
.hi-iron .highlight {
  color: #d1d5d8 !important;
}
.hi-iron .highlight.bordered {
  border-color: #d1d5d8;
}
.txt-iron .alt-link {
  color: #d1d5d8;
}
.txt-iron .colored-box {
  color: #d1d5d8;
}
.txt-iron .colored-box a.alt-link:not(.box-link) {
  color: #d1d5d8;
}
.txt-iron .colored-box a.alt-link:not(.box-link):hover {
  color: #e59c9b;
}
.txt-iron .colored-box a.box-link {
  color: #d1d5d8;
}
.txt-iron .hover-box {
  border-color: #d1d5d8;
}
.txt-iron .hover-box *:not(.highlight) {
  color: #d1d5d8;
}
.txt-iron .hover-box:hover {
  color: #ffffff;
}
.txt-iron .hover-box:hover * {
  color: #ffffff;
}
.txt-iron .network-icon {
  background: #d1d5d8;
  color: #252525;
}
.txt-iron .network-icon:not(.r-btn):not(.f-btn):hover {
  background: #edeeef;
  border-color: #edeeef;
}
.txt-iron .network-icon.f-btn {
  color: #d1d5d8;
}
.hi-iron:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link) {
  color: #d1d5d8;
}
.hi-iron:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link).network-icon {
  color: #ffffff;
}
.hi-iron:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link):hover {
  color: #a8afb5;
}
.hi-iron .alt-link:hover {
  color: #d1d5d8 !important;
}
.hi-iron:not(header) .colored-box {
  background: #d1d5d8;
  color: #252525;
}
.hi-iron:not(header) .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link) {
  color: #7e8992;
}
.hi-iron:not(header) .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link):hover {
  color: #4e565c;
}
.hi-iron:not(header) .colored-box a.alt-link {
  color: #252525;
}
.hi-iron:not(header) .colored-box a.alt-link:hover {
  color: #7e8992 !important;
}
.hi-iron:not(header) .colored-box a.box-link {
  color: #252525;
}
.hi-iron:not(header) .colored-box a.box-link:after {
  background-color: #000000;
}
.hi-iron .hover-box *:not(.highlight) {
  color: #252525;
}
.hi-iron .hover-box:hover {
  background: #d1d5d8;
  color: #252525 !important;
}
.hi-iron .hover-box:hover * {
  color: #252525 !important;
}
.hi-iron .network-icon.f-btn:not([class*='-hover']):hover {
  color: #252525;
  background: #d1d5d8;
  border-color: #d1d5d8;
}
.hi-iron .network-icon.f-btn.highlight:hover {
  background: #d1d5d8;
  color: #252525;
}
.bg-iron:not([class*='overlay-']) {
  background-color: #d1d5d8;
}
.bg-iron[class*='overlay-']:after {
  background-color: #d1d5d8;
}
.bg-iron[class*='overlay-'] .contrast-bg {
  background-color: #000000;
  border-color: #000000;
}
.hi-iron .bg-highlight {
  background-color: #d1d5d8 !important;
  color: #000000 !important;
}
.hi-iron .border-highlight {
  border-color: #d1d5d8 !important;
}
/* nav-in class in added to html. */
/* Collapse */
header.bg-iron,
header.menu-bg-iron .navbar-collapse.in,
header.menu-bg-iron .navbar-collapse.collapsing {
  background-color: #d1d5d8;
}
header.txt-iron ul.nav > li.nav-btn a,
header.menu-txt-iron .navbar-collapse.in ul.nav > li.nav-btn a,
header.menu-txt-iron .navbar-collapse.collapsing ul.nav > li.nav-btn a {
  border-color: #d1d5d8;
}
header.txt-iron ul.nav > li > a,
header.menu-txt-iron .navbar-collapse.in ul.nav > li > a,
header.menu-txt-iron .navbar-collapse.collapsing ul.nav > li > a {
  color: #d1d5d8;
}
header.txt-iron ul.nav > li > a.active,
header.menu-txt-iron .navbar-collapse.in ul.nav > li > a.active,
header.menu-txt-iron .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-iron ul.nav > li > a.active.filled,
header.menu-txt-iron .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-txt-iron .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  color: #b8312f;
  color: #ffffff;
}
header.txt-iron ul.nav > li > a.popout,
header.menu-txt-iron .navbar-collapse.in ul.nav > li > a.popout,
header.menu-txt-iron .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f;
  border-color: #b8312f;
  background-color: transparent;
}
header.txt-iron ul.nav > li > a.popout.filled,
header.menu-txt-iron .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-txt-iron .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f;
  color: #ffffff;
}
header.txt-iron ul.nav > li > a.popout:hover,
header.menu-txt-iron .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-txt-iron .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f;
  color: #ffffff;
}
header.txt-iron ul.nav > li > a.filled:hover,
header.menu-txt-iron .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-txt-iron .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d14b49;
  background-color: #d14b49;
  color: #ffffff;
}
header.txt-iron ul.nav > li > a:hover,
header.menu-txt-iron .navbar-collapse.in ul.nav > li > a:hover,
header.menu-txt-iron .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-iron a.brand,
header.menu-txt-iron .navbar-collapse.in a.brand,
header.menu-txt-iron .navbar-collapse.collapsing a.brand {
  color: #d1d5d8;
}
header.txt-iron button.dismiss-navbar,
header.menu-txt-iron .navbar-collapse.in button.dismiss-navbar,
header.menu-txt-iron .navbar-collapse.collapsing button.dismiss-navbar {
  color: #d1d5d8;
}
header.txt-iron .navbar-toggle {
  color: #d1d5d8;
}
header.txt-iron .navbar-toggle .icon-bar {
  background-color: #d1d5d8;
}
header.hi-iron a.brand:hover,
header.menu-hi-iron .navbar-collapse.in a.brand:hover,
header.menu-hi-iron .navbar-collapse.collapsing a.brand:hover {
  color: #d1d5d8;
}
header.hi-iron ul.nav > li > a.active,
header.menu-hi-iron .navbar-collapse.in ul.nav > li > a.active,
header.menu-hi-iron .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #d1d5d8 !important;
  border-color: #d1d5d8 !important;
}
header.hi-iron ul.nav > li > a.active.filled,
header.menu-hi-iron .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-hi-iron .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  background-color: #d1d5d8 !important;
  color: #252525 !important;
}
header.hi-iron ul.nav > li > a.popout,
header.menu-hi-iron .navbar-collapse.in ul.nav > li > a.popout,
header.menu-hi-iron .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #d1d5d8 !important;
  border-color: #d1d5d8 !important;
}
header.hi-iron ul.nav > li > a.popout.filled,
header.menu-hi-iron .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-hi-iron .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #d1d5d8 !important;
  color: #252525 !important;
}
header.hi-iron ul.nav > li > a.popout.filled:hover,
header.menu-hi-iron .navbar-collapse.in ul.nav > li > a.popout.filled:hover,
header.menu-hi-iron .navbar-collapse.collapsing ul.nav > li > a.popout.filled:hover {
  border-color: #b5bcc1 !important;
  background-color: #b5bcc1 !important;
  color: #252525 !important;
}
header.hi-iron ul.nav > li > a.popout:hover,
header.menu-hi-iron .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-hi-iron .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #d1d5d8 !important;
  color: #252525 !important;
}
header.hi-iron ul.nav > li > a.filled:hover,
header.menu-hi-iron .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-hi-iron .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d1d5d8 !important;
  background-color: #d1d5d8 !important;
  color: #252525 !important;
}
header.hi-iron ul.nav > li > a:hover,
header.menu-hi-iron .navbar-collapse.in ul.nav > li > a:hover,
header.menu-hi-iron .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #d1d5d8 !important;
  border-color: #d1d5d8 !important;
}
footer.bg-iron {
  background: #d1d5d8;
}
footer.txt-iron {
  border-top-color: #d1d5d8;
}
.bg-iron .form-inline .input-group-btn.f-btn {
  background: #d1d5d8;
}
.bg-iron .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
.txt-iron .form-control {
  border-color: #d1d5d8;
}
.txt-iron .form-inline .input-group .input-group-btn:not(.f-btn):not(.r-btn) {
  border-color: #d1d5d8;
}
.hi-iron .form-inline .input-group-btn.f-btn:hover {
  background: #d1d5d8;
}
