.txt-iron-gray .f-btn {
  color: #75706b;
  border-color: #75706b;
}
.txt-iron-gray .f-btn.highlight {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-iron-gray .f-btn:hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.txt-iron-gray .r-btn {
  color: #ffffff;
  border-color: #75706b;
  background: #75706b;
}
.txt-iron-gray .r-btn:hover {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-iron-gray .r-btn.highlight {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-iron-gray .r-btn.highlight:hover {
  color: #ffffff;
  background: #d14b49;
  border-color: #d14b49;
}
.hi-iron-gray .f-btn:hover {
  background: #75706b !important;
  border-color: #75706b !important;
  color: #ffffff !important;
}
.hi-iron-gray .f-btn.highlight {
  color: #75706b !important;
  border-color: #75706b !important;
}
.hi-iron-gray .f-btn.highlight:hover {
  color: #ffffff !important;
}
.hi-iron-gray .r-btn:hover {
  color: #ffffff !important;
  background: #75706b !important;
  border-color: #75706b !important;
}
.hi-iron-gray .r-btn.highlight {
  color: #ffffff !important;
  background: #75706b !important;
  border-color: #75706b !important;
}
.hi-iron-gray .r-btn.highlight:hover {
  background: #5a5753 !important;
  border-color: #5a5753 !important;
}
.txt-iron-gray {
  color: #75706b;
}
.txt-iron-gray .bordered {
  border-color: #75706b;
}
.txt-iron-gray .highlight {
  color: #b8312f;
}
.txt-iron-gray .highlight.bordered {
  border-color: #b8312f;
}
.txt-iron-gray .box {
  border-color: #75706b;
}
.txt-iron-gray .box * {
  border-color: #75706b;
}
.hi-iron-gray .highlight {
  color: #75706b !important;
}
.hi-iron-gray .highlight.bordered {
  border-color: #75706b;
}
.txt-iron-gray .alt-link {
  color: #75706b;
}
.txt-iron-gray .colored-box {
  color: #75706b;
}
.txt-iron-gray .colored-box a.alt-link:not(.box-link) {
  color: #75706b;
}
.txt-iron-gray .colored-box a.alt-link:not(.box-link):hover {
  color: #e59c9b;
}
.txt-iron-gray .colored-box a.box-link {
  color: #75706b;
}
.txt-iron-gray .hover-box {
  border-color: #75706b;
}
.txt-iron-gray .hover-box *:not(.highlight) {
  color: #75706b;
}
.txt-iron-gray .hover-box:hover {
  color: #ffffff;
}
.txt-iron-gray .hover-box:hover * {
  color: #ffffff;
}
.txt-iron-gray .network-icon {
  background: #75706b;
  color: #ffffff;
}
.txt-iron-gray .network-icon:not(.r-btn):not(.f-btn):hover {
  background: #8f8a84;
  border-color: #8f8a84;
}
.txt-iron-gray .network-icon.f-btn {
  color: #75706b;
}
.hi-iron-gray:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link) {
  color: #75706b;
}
.hi-iron-gray:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link).network-icon {
  color: #ffffff;
}
.hi-iron-gray:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link):hover {
  color: #9b9692;
}
.hi-iron-gray .alt-link:hover {
  color: #75706b !important;
}
.hi-iron-gray:not(header) .colored-box {
  background: #75706b;
  color: #ffffff;
}
.hi-iron-gray:not(header) .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link) {
  color: #bfbdba;
}
.hi-iron-gray:not(header) .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link):hover {
  color: #f0f0ef;
}
.hi-iron-gray:not(header) .colored-box a.alt-link {
  color: #ffffff;
}
.hi-iron-gray:not(header) .colored-box a.alt-link:hover {
  color: #bfbdba !important;
}
.hi-iron-gray:not(header) .colored-box a.box-link {
  color: #ffffff;
}
.hi-iron-gray:not(header) .colored-box a.box-link:after {
  background-color: #000000;
}
.hi-iron-gray .hover-box *:not(.highlight) {
  color: #252525;
}
.hi-iron-gray .hover-box:hover {
  background: #75706b;
  color: #ffffff !important;
}
.hi-iron-gray .hover-box:hover * {
  color: #ffffff !important;
}
.hi-iron-gray .network-icon.f-btn:not([class*='-hover']):hover {
  color: #252525;
  background: #75706b;
  border-color: #75706b;
}
.hi-iron-gray .network-icon.f-btn.highlight:hover {
  background: #75706b;
  color: #252525;
}
.bg-iron-gray:not([class*='overlay-']) {
  background-color: #75706b;
}
.bg-iron-gray[class*='overlay-']:after {
  background-color: #75706b;
}
.bg-iron-gray[class*='overlay-'] .contrast-bg {
  background-color: #ffffff;
  border-color: #ffffff;
}
.hi-iron-gray .bg-highlight {
  background-color: #75706b !important;
  color: #ffffff !important;
}
.hi-iron-gray .border-highlight {
  border-color: #75706b !important;
}
/* nav-in class in added to html. */
/* Collapse */
header.bg-iron-gray,
header.menu-bg-iron-gray .navbar-collapse.in,
header.menu-bg-iron-gray .navbar-collapse.collapsing {
  background-color: #75706b;
}
header.txt-iron-gray ul.nav > li.nav-btn a,
header.menu-txt-iron-gray .navbar-collapse.in ul.nav > li.nav-btn a,
header.menu-txt-iron-gray .navbar-collapse.collapsing ul.nav > li.nav-btn a {
  border-color: #75706b;
}
header.txt-iron-gray ul.nav > li > a,
header.menu-txt-iron-gray .navbar-collapse.in ul.nav > li > a,
header.menu-txt-iron-gray .navbar-collapse.collapsing ul.nav > li > a {
  color: #75706b;
}
header.txt-iron-gray ul.nav > li > a.active,
header.menu-txt-iron-gray .navbar-collapse.in ul.nav > li > a.active,
header.menu-txt-iron-gray .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-iron-gray ul.nav > li > a.active.filled,
header.menu-txt-iron-gray .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-txt-iron-gray .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  color: #b8312f;
  color: #ffffff;
}
header.txt-iron-gray ul.nav > li > a.popout,
header.menu-txt-iron-gray .navbar-collapse.in ul.nav > li > a.popout,
header.menu-txt-iron-gray .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f;
  border-color: #b8312f;
  background-color: transparent;
}
header.txt-iron-gray ul.nav > li > a.popout.filled,
header.menu-txt-iron-gray .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-txt-iron-gray .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f;
  color: #ffffff;
}
header.txt-iron-gray ul.nav > li > a.popout:hover,
header.menu-txt-iron-gray .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-txt-iron-gray .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f;
  color: #ffffff;
}
header.txt-iron-gray ul.nav > li > a.filled:hover,
header.menu-txt-iron-gray .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-txt-iron-gray .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d14b49;
  background-color: #d14b49;
  color: #ffffff;
}
header.txt-iron-gray ul.nav > li > a:hover,
header.menu-txt-iron-gray .navbar-collapse.in ul.nav > li > a:hover,
header.menu-txt-iron-gray .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-iron-gray a.brand,
header.menu-txt-iron-gray .navbar-collapse.in a.brand,
header.menu-txt-iron-gray .navbar-collapse.collapsing a.brand {
  color: #75706b;
}
header.txt-iron-gray button.dismiss-navbar,
header.menu-txt-iron-gray .navbar-collapse.in button.dismiss-navbar,
header.menu-txt-iron-gray .navbar-collapse.collapsing button.dismiss-navbar {
  color: #75706b;
}
header.txt-iron-gray .navbar-toggle {
  color: #75706b;
}
header.txt-iron-gray .navbar-toggle .icon-bar {
  background-color: #75706b;
}
header.hi-iron-gray a.brand:hover,
header.menu-hi-iron-gray .navbar-collapse.in a.brand:hover,
header.menu-hi-iron-gray .navbar-collapse.collapsing a.brand:hover {
  color: #75706b;
}
header.hi-iron-gray ul.nav > li > a.active,
header.menu-hi-iron-gray .navbar-collapse.in ul.nav > li > a.active,
header.menu-hi-iron-gray .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #75706b !important;
  border-color: #75706b !important;
}
header.hi-iron-gray ul.nav > li > a.active.filled,
header.menu-hi-iron-gray .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-hi-iron-gray .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  background-color: #75706b !important;
  color: #ffffff !important;
}
header.hi-iron-gray ul.nav > li > a.popout,
header.menu-hi-iron-gray .navbar-collapse.in ul.nav > li > a.popout,
header.menu-hi-iron-gray .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #75706b !important;
  border-color: #75706b !important;
}
header.hi-iron-gray ul.nav > li > a.popout.filled,
header.menu-hi-iron-gray .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-hi-iron-gray .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #75706b !important;
  color: #ffffff !important;
}
header.hi-iron-gray ul.nav > li > a.popout.filled:hover,
header.menu-hi-iron-gray .navbar-collapse.in ul.nav > li > a.popout.filled:hover,
header.menu-hi-iron-gray .navbar-collapse.collapsing ul.nav > li > a.popout.filled:hover {
  border-color: #8f8a84 !important;
  background-color: #8f8a84 !important;
  color: #ffffff !important;
}
header.hi-iron-gray ul.nav > li > a.popout:hover,
header.menu-hi-iron-gray .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-hi-iron-gray .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #75706b !important;
  color: #ffffff !important;
}
header.hi-iron-gray ul.nav > li > a.filled:hover,
header.menu-hi-iron-gray .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-hi-iron-gray .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #75706b !important;
  background-color: #75706b !important;
  color: #ffffff !important;
}
header.hi-iron-gray ul.nav > li > a:hover,
header.menu-hi-iron-gray .navbar-collapse.in ul.nav > li > a:hover,
header.menu-hi-iron-gray .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #75706b !important;
  border-color: #75706b !important;
}
footer.bg-iron-gray {
  background: #75706b;
}
footer.txt-iron-gray {
  border-top-color: #75706b;
}
.bg-iron-gray .form-inline .input-group-btn.f-btn {
  background: #75706b;
}
.bg-iron-gray .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
.txt-iron-gray .form-control {
  border-color: #75706b;
}
.txt-iron-gray .form-inline .input-group .input-group-btn:not(.f-btn):not(.r-btn) {
  border-color: #75706b;
}
.hi-iron-gray .form-inline .input-group-btn.f-btn:hover {
  background: #75706b;
}
