.txt-neon-carrot .f-btn {
  color: #fba026;
  border-color: #fba026;
}
.txt-neon-carrot .f-btn.highlight {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-neon-carrot .f-btn:hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.txt-neon-carrot .r-btn {
  color: #252525;
  border-color: #fba026;
  background: #fba026;
}
.txt-neon-carrot .r-btn:hover {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-neon-carrot .r-btn.highlight {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-neon-carrot .r-btn.highlight:hover {
  color: #ffffff;
  background: #d14b49;
  border-color: #d14b49;
}
.hi-neon-carrot .f-btn:hover {
  background: #fba026 !important;
  border-color: #fba026 !important;
  color: #252525 !important;
}
.hi-neon-carrot .f-btn.highlight {
  color: #fba026 !important;
  border-color: #fba026 !important;
}
.hi-neon-carrot .f-btn.highlight:hover {
  color: #252525 !important;
}
.hi-neon-carrot .r-btn:hover {
  color: #252525 !important;
  background: #fba026 !important;
  border-color: #fba026 !important;
}
.hi-neon-carrot .r-btn.highlight {
  color: #252525 !important;
  background: #fba026 !important;
  border-color: #fba026 !important;
}
.hi-neon-carrot .r-btn.highlight:hover {
  background: #ea8804 !important;
  border-color: #ea8804 !important;
}
.txt-neon-carrot {
  color: #fba026;
}
.txt-neon-carrot .bordered {
  border-color: #fba026;
}
.txt-neon-carrot .highlight {
  color: #b8312f;
}
.txt-neon-carrot .highlight.bordered {
  border-color: #b8312f;
}
.txt-neon-carrot .box {
  border-color: #fba026;
}
.txt-neon-carrot .box * {
  border-color: #fba026;
}
.hi-neon-carrot .highlight {
  color: #fba026 !important;
}
.hi-neon-carrot .highlight.bordered {
  border-color: #fba026;
}
.txt-neon-carrot .alt-link {
  color: #fba026;
}
.txt-neon-carrot .colored-box {
  color: #fba026;
}
.txt-neon-carrot .colored-box a.alt-link:not(.box-link) {
  color: #fba026;
}
.txt-neon-carrot .colored-box a.alt-link:not(.box-link):hover {
  color: #e59c9b;
}
.txt-neon-carrot .colored-box a.box-link {
  color: #fba026;
}
.txt-neon-carrot .hover-box {
  border-color: #fba026;
}
.txt-neon-carrot .hover-box *:not(.highlight) {
  color: #fba026;
}
.txt-neon-carrot .hover-box:hover {
  color: #ffffff;
}
.txt-neon-carrot .hover-box:hover * {
  color: #ffffff;
}
.txt-neon-carrot .network-icon {
  background: #fba026;
  color: #252525;
}
.txt-neon-carrot .network-icon:not(.r-btn):not(.f-btn):hover {
  background: #fcb658;
  border-color: #fcb658;
}
.txt-neon-carrot .network-icon.f-btn {
  color: #fba026;
}
.hi-neon-carrot:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link) {
  color: #fba026;
}
.hi-neon-carrot:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link).network-icon {
  color: #ffffff;
}
.hi-neon-carrot:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link):hover {
  color: #d17904;
}
.hi-neon-carrot .alt-link:hover {
  color: #fba026 !important;
}
.hi-neon-carrot:not(header) .colored-box {
  background: #fba026;
  color: #252525;
}
.hi-neon-carrot:not(header) .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link) {
  color: #864e02;
}
.hi-neon-carrot:not(header) .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link):hover {
  color: #211301;
}
.hi-neon-carrot:not(header) .colored-box a.alt-link {
  color: #252525;
}
.hi-neon-carrot:not(header) .colored-box a.alt-link:hover {
  color: #864e02 !important;
}
.hi-neon-carrot:not(header) .colored-box a.box-link {
  color: #252525;
}
.hi-neon-carrot:not(header) .colored-box a.box-link:after {
  background-color: #000000;
}
.hi-neon-carrot .hover-box *:not(.highlight) {
  color: #252525;
}
.hi-neon-carrot .hover-box:hover {
  background: #fba026;
  color: #252525 !important;
}
.hi-neon-carrot .hover-box:hover * {
  color: #252525 !important;
}
.hi-neon-carrot .network-icon.f-btn:not([class*='-hover']):hover {
  color: #252525;
  background: #fba026;
  border-color: #fba026;
}
.hi-neon-carrot .network-icon.f-btn.highlight:hover {
  background: #fba026;
  color: #252525;
}
.bg-neon-carrot:not([class*='overlay-']) {
  background-color: #fba026;
}
.bg-neon-carrot[class*='overlay-']:after {
  background-color: #fba026;
}
.bg-neon-carrot[class*='overlay-'] .contrast-bg {
  background-color: #000000;
  border-color: #000000;
}
.hi-neon-carrot .bg-highlight {
  background-color: #fba026 !important;
  color: #000000 !important;
}
.hi-neon-carrot .border-highlight {
  border-color: #fba026 !important;
}
/* nav-in class in added to html. */
/* Collapse */
header.bg-neon-carrot,
header.menu-bg-neon-carrot .navbar-collapse.in,
header.menu-bg-neon-carrot .navbar-collapse.collapsing {
  background-color: #fba026;
}
header.txt-neon-carrot ul.nav > li.nav-btn a,
header.menu-txt-neon-carrot .navbar-collapse.in ul.nav > li.nav-btn a,
header.menu-txt-neon-carrot .navbar-collapse.collapsing ul.nav > li.nav-btn a {
  border-color: #fba026;
}
header.txt-neon-carrot ul.nav > li > a,
header.menu-txt-neon-carrot .navbar-collapse.in ul.nav > li > a,
header.menu-txt-neon-carrot .navbar-collapse.collapsing ul.nav > li > a {
  color: #fba026;
}
header.txt-neon-carrot ul.nav > li > a.active,
header.menu-txt-neon-carrot .navbar-collapse.in ul.nav > li > a.active,
header.menu-txt-neon-carrot .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-neon-carrot ul.nav > li > a.active.filled,
header.menu-txt-neon-carrot .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-txt-neon-carrot .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  color: #b8312f;
  color: #ffffff;
}
header.txt-neon-carrot ul.nav > li > a.popout,
header.menu-txt-neon-carrot .navbar-collapse.in ul.nav > li > a.popout,
header.menu-txt-neon-carrot .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f;
  border-color: #b8312f;
  background-color: transparent;
}
header.txt-neon-carrot ul.nav > li > a.popout.filled,
header.menu-txt-neon-carrot .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-txt-neon-carrot .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f;
  color: #ffffff;
}
header.txt-neon-carrot ul.nav > li > a.popout:hover,
header.menu-txt-neon-carrot .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-txt-neon-carrot .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f;
  color: #ffffff;
}
header.txt-neon-carrot ul.nav > li > a.filled:hover,
header.menu-txt-neon-carrot .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-txt-neon-carrot .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d14b49;
  background-color: #d14b49;
  color: #ffffff;
}
header.txt-neon-carrot ul.nav > li > a:hover,
header.menu-txt-neon-carrot .navbar-collapse.in ul.nav > li > a:hover,
header.menu-txt-neon-carrot .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-neon-carrot a.brand,
header.menu-txt-neon-carrot .navbar-collapse.in a.brand,
header.menu-txt-neon-carrot .navbar-collapse.collapsing a.brand {
  color: #fba026;
}
header.txt-neon-carrot button.dismiss-navbar,
header.menu-txt-neon-carrot .navbar-collapse.in button.dismiss-navbar,
header.menu-txt-neon-carrot .navbar-collapse.collapsing button.dismiss-navbar {
  color: #fba026;
}
header.txt-neon-carrot .navbar-toggle {
  color: #fba026;
}
header.txt-neon-carrot .navbar-toggle .icon-bar {
  background-color: #fba026;
}
header.hi-neon-carrot a.brand:hover,
header.menu-hi-neon-carrot .navbar-collapse.in a.brand:hover,
header.menu-hi-neon-carrot .navbar-collapse.collapsing a.brand:hover {
  color: #fba026;
}
header.hi-neon-carrot ul.nav > li > a.active,
header.menu-hi-neon-carrot .navbar-collapse.in ul.nav > li > a.active,
header.menu-hi-neon-carrot .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #fba026 !important;
  border-color: #fba026 !important;
}
header.hi-neon-carrot ul.nav > li > a.active.filled,
header.menu-hi-neon-carrot .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-hi-neon-carrot .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  background-color: #fba026 !important;
  color: #252525 !important;
}
header.hi-neon-carrot ul.nav > li > a.popout,
header.menu-hi-neon-carrot .navbar-collapse.in ul.nav > li > a.popout,
header.menu-hi-neon-carrot .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #fba026 !important;
  border-color: #fba026 !important;
}
header.hi-neon-carrot ul.nav > li > a.popout.filled,
header.menu-hi-neon-carrot .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-hi-neon-carrot .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #fba026 !important;
  color: #252525 !important;
}
header.hi-neon-carrot ul.nav > li > a.popout.filled:hover,
header.menu-hi-neon-carrot .navbar-collapse.in ul.nav > li > a.popout.filled:hover,
header.menu-hi-neon-carrot .navbar-collapse.collapsing ul.nav > li > a.popout.filled:hover {
  border-color: #ea8804 !important;
  background-color: #ea8804 !important;
  color: #252525 !important;
}
header.hi-neon-carrot ul.nav > li > a.popout:hover,
header.menu-hi-neon-carrot .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-hi-neon-carrot .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #fba026 !important;
  color: #252525 !important;
}
header.hi-neon-carrot ul.nav > li > a.filled:hover,
header.menu-hi-neon-carrot .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-hi-neon-carrot .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #fba026 !important;
  background-color: #fba026 !important;
  color: #252525 !important;
}
header.hi-neon-carrot ul.nav > li > a:hover,
header.menu-hi-neon-carrot .navbar-collapse.in ul.nav > li > a:hover,
header.menu-hi-neon-carrot .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #fba026 !important;
  border-color: #fba026 !important;
}
footer.bg-neon-carrot {
  background: #fba026;
}
footer.txt-neon-carrot {
  border-top-color: #fba026;
}
.bg-neon-carrot .form-inline .input-group-btn.f-btn {
  background: #fba026;
}
.bg-neon-carrot .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
.txt-neon-carrot .form-control {
  border-color: #fba026;
}
.txt-neon-carrot .form-inline .input-group .input-group-btn:not(.f-btn):not(.r-btn) {
  border-color: #fba026;
}
.hi-neon-carrot .form-inline .input-group-btn.f-btn:hover {
  background: #fba026;
}
