.txt-picton-blue .f-btn {
  color: #54acd2;
  border-color: #54acd2;
}
.txt-picton-blue .f-btn.highlight {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-picton-blue .f-btn:hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.txt-picton-blue .r-btn {
  color: #252525;
  border-color: #54acd2;
  background: #54acd2;
}
.txt-picton-blue .r-btn:hover {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-picton-blue .r-btn.highlight {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-picton-blue .r-btn.highlight:hover {
  color: #ffffff;
  background: #d14b49;
  border-color: #d14b49;
}
.hi-picton-blue .f-btn:hover {
  background: #54acd2 !important;
  border-color: #54acd2 !important;
  color: #252525 !important;
}
.hi-picton-blue .f-btn.highlight {
  color: #54acd2 !important;
  border-color: #54acd2 !important;
}
.hi-picton-blue .f-btn.highlight:hover {
  color: #252525 !important;
}
.hi-picton-blue .r-btn:hover {
  color: #252525 !important;
  background: #54acd2 !important;
  border-color: #54acd2 !important;
}
.hi-picton-blue .r-btn.highlight {
  color: #252525 !important;
  background: #54acd2 !important;
  border-color: #54acd2 !important;
}
.hi-picton-blue .r-btn.highlight:hover {
  background: #3396c0 !important;
  border-color: #3396c0 !important;
}
.txt-picton-blue {
  color: #54acd2;
}
.txt-picton-blue .bordered {
  border-color: #54acd2;
}
.txt-picton-blue .highlight {
  color: #b8312f;
}
.txt-picton-blue .highlight.bordered {
  border-color: #b8312f;
}
.txt-picton-blue .box {
  border-color: #54acd2;
}
.txt-picton-blue .box * {
  border-color: #54acd2;
}
.hi-picton-blue .highlight {
  color: #54acd2 !important;
}
.hi-picton-blue .highlight.bordered {
  border-color: #54acd2;
}
.txt-picton-blue .alt-link {
  color: #54acd2;
}
.txt-picton-blue .colored-box {
  color: #54acd2;
}
.txt-picton-blue .colored-box a.alt-link:not(.box-link) {
  color: #54acd2;
}
.txt-picton-blue .colored-box a.alt-link:not(.box-link):hover {
  color: #e59c9b;
}
.txt-picton-blue .colored-box a.box-link {
  color: #54acd2;
}
.txt-picton-blue .hover-box {
  border-color: #54acd2;
}
.txt-picton-blue .hover-box *:not(.highlight) {
  color: #54acd2;
}
.txt-picton-blue .hover-box:hover {
  color: #ffffff;
}
.txt-picton-blue .hover-box:hover * {
  color: #ffffff;
}
.txt-picton-blue .network-icon {
  background: #54acd2;
  color: #252525;
}
.txt-picton-blue .network-icon:not(.r-btn):not(.f-btn):hover {
  background: #7cc0dd;
  border-color: #7cc0dd;
}
.txt-picton-blue .network-icon.f-btn {
  color: #54acd2;
}
.hi-picton-blue:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link) {
  color: #54acd2;
}
.hi-picton-blue:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link).network-icon {
  color: #ffffff;
}
.hi-picton-blue:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link):hover {
  color: #2d86ac;
}
.hi-picton-blue .alt-link:hover {
  color: #54acd2 !important;
}
.hi-picton-blue:not(header) .colored-box {
  background: #54acd2;
  color: #252525;
}
.hi-picton-blue:not(header) .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link) {
  color: #1d5770;
}
.hi-picton-blue:not(header) .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link):hover {
  color: #08181f;
}
.hi-picton-blue:not(header) .colored-box a.alt-link {
  color: #252525;
}
.hi-picton-blue:not(header) .colored-box a.alt-link:hover {
  color: #1d5770 !important;
}
.hi-picton-blue:not(header) .colored-box a.box-link {
  color: #252525;
}
.hi-picton-blue:not(header) .colored-box a.box-link:after {
  background-color: #000000;
}
.hi-picton-blue .hover-box *:not(.highlight) {
  color: #252525;
}
.hi-picton-blue .hover-box:hover {
  background: #54acd2;
  color: #252525 !important;
}
.hi-picton-blue .hover-box:hover * {
  color: #252525 !important;
}
.hi-picton-blue .network-icon.f-btn:not([class*='-hover']):hover {
  color: #252525;
  background: #54acd2;
  border-color: #54acd2;
}
.hi-picton-blue .network-icon.f-btn.highlight:hover {
  background: #54acd2;
  color: #252525;
}
.bg-picton-blue:not([class*='overlay-']) {
  background-color: #54acd2;
}
.bg-picton-blue[class*='overlay-']:after {
  background-color: #54acd2;
}
.bg-picton-blue[class*='overlay-'] .contrast-bg {
  background-color: #000000;
  border-color: #000000;
}
.hi-picton-blue .bg-highlight {
  background-color: #54acd2 !important;
  color: #000000 !important;
}
.hi-picton-blue .border-highlight {
  border-color: #54acd2 !important;
}
/* nav-in class in added to html. */
/* Collapse */
header.bg-picton-blue,
header.menu-bg-picton-blue .navbar-collapse.in,
header.menu-bg-picton-blue .navbar-collapse.collapsing {
  background-color: #54acd2;
}
header.txt-picton-blue ul.nav > li.nav-btn a,
header.menu-txt-picton-blue .navbar-collapse.in ul.nav > li.nav-btn a,
header.menu-txt-picton-blue .navbar-collapse.collapsing ul.nav > li.nav-btn a {
  border-color: #54acd2;
}
header.txt-picton-blue ul.nav > li > a,
header.menu-txt-picton-blue .navbar-collapse.in ul.nav > li > a,
header.menu-txt-picton-blue .navbar-collapse.collapsing ul.nav > li > a {
  color: #54acd2;
}
header.txt-picton-blue ul.nav > li > a.active,
header.menu-txt-picton-blue .navbar-collapse.in ul.nav > li > a.active,
header.menu-txt-picton-blue .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-picton-blue ul.nav > li > a.active.filled,
header.menu-txt-picton-blue .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-txt-picton-blue .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  color: #b8312f;
  color: #ffffff;
}
header.txt-picton-blue ul.nav > li > a.popout,
header.menu-txt-picton-blue .navbar-collapse.in ul.nav > li > a.popout,
header.menu-txt-picton-blue .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f;
  border-color: #b8312f;
  background-color: transparent;
}
header.txt-picton-blue ul.nav > li > a.popout.filled,
header.menu-txt-picton-blue .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-txt-picton-blue .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f;
  color: #ffffff;
}
header.txt-picton-blue ul.nav > li > a.popout:hover,
header.menu-txt-picton-blue .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-txt-picton-blue .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f;
  color: #ffffff;
}
header.txt-picton-blue ul.nav > li > a.filled:hover,
header.menu-txt-picton-blue .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-txt-picton-blue .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d14b49;
  background-color: #d14b49;
  color: #ffffff;
}
header.txt-picton-blue ul.nav > li > a:hover,
header.menu-txt-picton-blue .navbar-collapse.in ul.nav > li > a:hover,
header.menu-txt-picton-blue .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-picton-blue a.brand,
header.menu-txt-picton-blue .navbar-collapse.in a.brand,
header.menu-txt-picton-blue .navbar-collapse.collapsing a.brand {
  color: #54acd2;
}
header.txt-picton-blue button.dismiss-navbar,
header.menu-txt-picton-blue .navbar-collapse.in button.dismiss-navbar,
header.menu-txt-picton-blue .navbar-collapse.collapsing button.dismiss-navbar {
  color: #54acd2;
}
header.txt-picton-blue .navbar-toggle {
  color: #54acd2;
}
header.txt-picton-blue .navbar-toggle .icon-bar {
  background-color: #54acd2;
}
header.hi-picton-blue a.brand:hover,
header.menu-hi-picton-blue .navbar-collapse.in a.brand:hover,
header.menu-hi-picton-blue .navbar-collapse.collapsing a.brand:hover {
  color: #54acd2;
}
header.hi-picton-blue ul.nav > li > a.active,
header.menu-hi-picton-blue .navbar-collapse.in ul.nav > li > a.active,
header.menu-hi-picton-blue .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #54acd2 !important;
  border-color: #54acd2 !important;
}
header.hi-picton-blue ul.nav > li > a.active.filled,
header.menu-hi-picton-blue .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-hi-picton-blue .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  background-color: #54acd2 !important;
  color: #252525 !important;
}
header.hi-picton-blue ul.nav > li > a.popout,
header.menu-hi-picton-blue .navbar-collapse.in ul.nav > li > a.popout,
header.menu-hi-picton-blue .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #54acd2 !important;
  border-color: #54acd2 !important;
}
header.hi-picton-blue ul.nav > li > a.popout.filled,
header.menu-hi-picton-blue .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-hi-picton-blue .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #54acd2 !important;
  color: #252525 !important;
}
header.hi-picton-blue ul.nav > li > a.popout.filled:hover,
header.menu-hi-picton-blue .navbar-collapse.in ul.nav > li > a.popout.filled:hover,
header.menu-hi-picton-blue .navbar-collapse.collapsing ul.nav > li > a.popout.filled:hover {
  border-color: #3396c0 !important;
  background-color: #3396c0 !important;
  color: #252525 !important;
}
header.hi-picton-blue ul.nav > li > a.popout:hover,
header.menu-hi-picton-blue .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-hi-picton-blue .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #54acd2 !important;
  color: #252525 !important;
}
header.hi-picton-blue ul.nav > li > a.filled:hover,
header.menu-hi-picton-blue .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-hi-picton-blue .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #54acd2 !important;
  background-color: #54acd2 !important;
  color: #252525 !important;
}
header.hi-picton-blue ul.nav > li > a:hover,
header.menu-hi-picton-blue .navbar-collapse.in ul.nav > li > a:hover,
header.menu-hi-picton-blue .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #54acd2 !important;
  border-color: #54acd2 !important;
}
footer.bg-picton-blue {
  background: #54acd2;
}
footer.txt-picton-blue {
  border-top-color: #54acd2;
}
.bg-picton-blue .form-inline .input-group-btn.f-btn {
  background: #54acd2;
}
.bg-picton-blue .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
.txt-picton-blue .form-control {
  border-color: #54acd2;
}
.txt-picton-blue .form-inline .input-group .input-group-btn:not(.f-btn):not(.r-btn) {
  border-color: #54acd2;
}
.hi-picton-blue .form-inline .input-group-btn.f-btn:hover {
  background: #54acd2;
}
