.txt-sun .f-btn {
  color: #f37934;
  border-color: #f37934;
}
.txt-sun .f-btn.highlight {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-sun .f-btn:hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.txt-sun .r-btn {
  color: #ffffff;
  border-color: #f37934;
  background: #f37934;
}
.txt-sun .r-btn:hover {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-sun .r-btn.highlight {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-sun .r-btn.highlight:hover {
  color: #ffffff;
  background: #d14b49;
  border-color: #d14b49;
}
.hi-sun .f-btn:hover {
  background: #f37934 !important;
  border-color: #f37934 !important;
  color: #ffffff !important;
}
.hi-sun .f-btn.highlight {
  color: #f37934 !important;
  border-color: #f37934 !important;
}
.hi-sun .f-btn.highlight:hover {
  color: #ffffff !important;
}
.hi-sun .r-btn:hover {
  color: #ffffff !important;
  background: #f37934 !important;
  border-color: #f37934 !important;
}
.hi-sun .r-btn.highlight {
  color: #ffffff !important;
  background: #f37934 !important;
  border-color: #f37934 !important;
}
.hi-sun .r-btn.highlight:hover {
  background: #e65c0e !important;
  border-color: #e65c0e !important;
}
.txt-sun {
  color: #f37934;
}
.txt-sun .bordered {
  border-color: #f37934;
}
.txt-sun .highlight {
  color: #b8312f;
}
.txt-sun .highlight.bordered {
  border-color: #b8312f;
}
.txt-sun .box {
  border-color: #f37934;
}
.txt-sun .box * {
  border-color: #f37934;
}
.hi-sun .highlight {
  color: #f37934 !important;
}
.hi-sun .highlight.bordered {
  border-color: #f37934;
}
.txt-sun .alt-link {
  color: #f37934;
}
.txt-sun .colored-box {
  color: #f37934;
}
.txt-sun .colored-box a.alt-link:not(.box-link) {
  color: #f37934;
}
.txt-sun .colored-box a.alt-link:not(.box-link):hover {
  color: #e59c9b;
}
.txt-sun .colored-box a.box-link {
  color: #f37934;
}
.txt-sun .hover-box {
  border-color: #f37934;
}
.txt-sun .hover-box *:not(.highlight) {
  color: #f37934;
}
.txt-sun .hover-box:hover {
  color: #ffffff;
}
.txt-sun .hover-box:hover * {
  color: #ffffff;
}
.txt-sun .network-icon {
  background: #f37934;
  color: #ffffff;
}
.txt-sun .network-icon:not(.r-btn):not(.f-btn):hover {
  background: #f69964;
  border-color: #f69964;
}
.txt-sun .network-icon.f-btn {
  color: #f37934;
}
.hi-sun:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link) {
  color: #f37934;
}
.hi-sun:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link).network-icon {
  color: #ffffff;
}
.hi-sun:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link):hover {
  color: #ce520c;
}
.hi-sun .alt-link:hover {
  color: #f37934 !important;
}
.hi-sun .colored-box {
  background: #f37934;
  color: #ffffff;
}
.hi-sun .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link) {
  color: #fcd8c4;
}
.hi-sun .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link):hover {
  color: #ffffff;
}
.hi-sun .colored-box a.alt-link {
  color: #ffffff;
}
.hi-sun .colored-box a.alt-link:hover {
  color: #fcd8c4 !important;
}
.hi-sun .colored-box a.box-link {
  color: #ffffff;
}
.hi-sun .colored-box a.box-link:after {
  background-color: #000000;
}
.hi-sun .hover-box *:not(.highlight) {
  color: #252525;
}
.hi-sun .hover-box:hover {
  background: #f37934;
  color: #ffffff !important;
}
.hi-sun .hover-box:hover * {
  color: #ffffff !important;
}
.hi-sun .network-icon.f-btn:not([class*='-hover']):hover {
  color: #252525;
  background: #f37934;
  border-color: #f37934;
}
.hi-sun .network-icon.f-btn.highlight:hover {
  background: #f37934;
  color: #252525;
}
.bg-sun:not([class*='overlay-']) {
  background-color: #f37934;
}
.bg-sun[class*='overlay-']:after {
  background-color: #f37934;
}
.bg-sun[class*='overlay-'] .contrast-bg {
  background-color: #ffffff;
  border-color: #ffffff;
}
.hi-sun .bg-highlight {
  background-color: #f37934 !important;
  color: #ffffff !important;
}
.hi-sun .border-highlight {
  border-color: #f37934 !important;
}
/* nav-in class in added to html. */
/* Collapse */
header.bg-sun,
header.menu-bg-sun .navbar-collapse.in,
header.menu-bg-sun .navbar-collapse.collapsing {
  background-color: #f37934;
}
header.txt-sun ul.nav > li.nav-btn a,
header.menu-txt-sun .navbar-collapse.in ul.nav > li.nav-btn a,
header.menu-txt-sun .navbar-collapse.collapsing ul.nav > li.nav-btn a {
  border-color: #f37934;
}
header.txt-sun ul.nav > li > a,
header.menu-txt-sun .navbar-collapse.in ul.nav > li > a,
header.menu-txt-sun .navbar-collapse.collapsing ul.nav > li > a {
  color: #f37934;
}
header.txt-sun ul.nav > li > a.active,
header.menu-txt-sun .navbar-collapse.in ul.nav > li > a.active,
header.menu-txt-sun .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-sun ul.nav > li > a.active.filled,
header.menu-txt-sun .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-txt-sun .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  color: #b8312f;
  color: #ffffff;
}
header.txt-sun ul.nav > li > a.popout,
header.menu-txt-sun .navbar-collapse.in ul.nav > li > a.popout,
header.menu-txt-sun .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f;
  border-color: #b8312f;
  background-color: transparent;
}
header.txt-sun ul.nav > li > a.popout.filled,
header.menu-txt-sun .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-txt-sun .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f;
  color: #ffffff;
}
header.txt-sun ul.nav > li > a.popout:hover,
header.menu-txt-sun .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-txt-sun .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f;
  color: #ffffff;
}
header.txt-sun ul.nav > li > a.filled:hover,
header.menu-txt-sun .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-txt-sun .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d14b49;
  background-color: #d14b49;
  color: #ffffff;
}
header.txt-sun ul.nav > li > a:hover,
header.menu-txt-sun .navbar-collapse.in ul.nav > li > a:hover,
header.menu-txt-sun .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-sun a.brand,
header.menu-txt-sun .navbar-collapse.in a.brand,
header.menu-txt-sun .navbar-collapse.collapsing a.brand {
  color: #f37934;
}
header.txt-sun button.dismiss-navbar,
header.menu-txt-sun .navbar-collapse.in button.dismiss-navbar,
header.menu-txt-sun .navbar-collapse.collapsing button.dismiss-navbar {
  color: #f37934;
}
header.txt-sun .navbar-toggle {
  color: #f37934;
}
header.txt-sun .navbar-toggle .icon-bar {
  background-color: #f37934;
}
header.hi-sun a.brand:hover,
header.menu-hi-sun .navbar-collapse.in a.brand:hover,
header.menu-hi-sun .navbar-collapse.collapsing a.brand:hover {
  color: #f37934;
}
header.hi-sun ul.nav > li > a.active,
header.menu-hi-sun .navbar-collapse.in ul.nav > li > a.active,
header.menu-hi-sun .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #f37934 !important;
  border-color: #f37934 !important;
}
header.hi-sun ul.nav > li > a.active.filled,
header.menu-hi-sun .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-hi-sun .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  background-color: #f37934 !important;
  color: #ffffff !important;
}
header.hi-sun ul.nav > li > a.popout,
header.menu-hi-sun .navbar-collapse.in ul.nav > li > a.popout,
header.menu-hi-sun .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #f37934 !important;
  border-color: #f37934 !important;
}
header.hi-sun ul.nav > li > a.popout.filled,
header.menu-hi-sun .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-hi-sun .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #f37934 !important;
  color: #ffffff !important;
}
header.hi-sun ul.nav > li > a.popout.filled:hover,
header.menu-hi-sun .navbar-collapse.in ul.nav > li > a.popout.filled:hover,
header.menu-hi-sun .navbar-collapse.collapsing ul.nav > li > a.popout.filled:hover {
  border-color: #e65c0e !important;
  background-color: #e65c0e !important;
  color: #ffffff !important;
}
header.hi-sun ul.nav > li > a.popout:hover,
header.menu-hi-sun .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-hi-sun .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #f37934 !important;
  color: #ffffff !important;
}
header.hi-sun ul.nav > li > a.filled:hover,
header.menu-hi-sun .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-hi-sun .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #f37934 !important;
  background-color: #f37934 !important;
  color: #ffffff !important;
}
header.hi-sun ul.nav > li > a:hover,
header.menu-hi-sun .navbar-collapse.in ul.nav > li > a:hover,
header.menu-hi-sun .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #f37934 !important;
  border-color: #f37934 !important;
}
footer.bg-sun {
  background: #f37934;
}
footer.txt-sun {
  border-top-color: #f37934;
}
.bg-sun .form-inline .input-group-btn.f-btn {
  background: #f37934;
}
.bg-sun .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
.txt-sun .form-control {
  border-color: #f37934;
}
.txt-sun .form-inline .input-group .input-group-btn:not(.f-btn):not(.r-btn) {
  border-color: #f37934;
}
.hi-sun .form-inline .input-group-btn.f-btn:hover {
  background: #f37934;
}
