.txt-terra-cotta .f-btn {
  color: #eb6b56;
  border-color: #eb6b56;
}
.txt-terra-cotta .f-btn.highlight {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-terra-cotta .f-btn:hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.txt-terra-cotta .r-btn {
  color: #ffffff;
  border-color: #eb6b56;
  background: #eb6b56;
}
.txt-terra-cotta .r-btn:hover {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-terra-cotta .r-btn.highlight {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-terra-cotta .r-btn.highlight:hover {
  color: #ffffff;
  background: #d14b49;
  border-color: #d14b49;
}
.hi-terra-cotta .f-btn:hover {
  background: #eb6b56 !important;
  border-color: #eb6b56 !important;
  color: #ffffff !important;
}
.hi-terra-cotta .f-btn.highlight {
  color: #eb6b56 !important;
  border-color: #eb6b56 !important;
}
.hi-terra-cotta .f-btn.highlight:hover {
  color: #ffffff !important;
}
.hi-terra-cotta .r-btn:hover {
  color: #ffffff !important;
  background: #eb6b56 !important;
  border-color: #eb6b56 !important;
}
.hi-terra-cotta .r-btn.highlight {
  color: #ffffff !important;
  background: #eb6b56 !important;
  border-color: #eb6b56 !important;
}
.hi-terra-cotta .r-btn.highlight:hover {
  background: #e64328 !important;
  border-color: #e64328 !important;
}
.txt-terra-cotta {
  color: #eb6b56;
}
.txt-terra-cotta .bordered {
  border-color: #eb6b56;
}
.txt-terra-cotta .highlight {
  color: #b8312f;
}
.txt-terra-cotta .highlight.bordered {
  border-color: #b8312f;
}
.txt-terra-cotta .box {
  border-color: #eb6b56;
}
.txt-terra-cotta .box * {
  border-color: #eb6b56;
}
.hi-terra-cotta .highlight {
  color: #eb6b56 !important;
}
.hi-terra-cotta .highlight.bordered {
  border-color: #eb6b56;
}
.txt-terra-cotta .alt-link {
  color: #eb6b56;
}
.txt-terra-cotta .colored-box {
  color: #eb6b56;
}
.txt-terra-cotta .colored-box a.alt-link:not(.box-link) {
  color: #eb6b56;
}
.txt-terra-cotta .colored-box a.alt-link:not(.box-link):hover {
  color: #e59c9b;
}
.txt-terra-cotta .colored-box a.box-link {
  color: #eb6b56;
}
.txt-terra-cotta .hover-box {
  border-color: #eb6b56;
}
.txt-terra-cotta .hover-box *:not(.highlight) {
  color: #eb6b56;
}
.txt-terra-cotta .hover-box:hover {
  color: #ffffff;
}
.txt-terra-cotta .hover-box:hover * {
  color: #ffffff;
}
.txt-terra-cotta .network-icon {
  background: #eb6b56;
  color: #ffffff;
}
.txt-terra-cotta .network-icon:not(.r-btn):not(.f-btn):hover {
  background: #f09384;
  border-color: #f09384;
}
.txt-terra-cotta .network-icon.f-btn {
  color: #eb6b56;
}
.hi-terra-cotta:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link) {
  color: #eb6b56;
}
.hi-terra-cotta:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link).network-icon {
  color: #ffffff;
}
.hi-terra-cotta:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link):hover {
  color: #db351a;
}
.hi-terra-cotta .alt-link:hover {
  color: #eb6b56 !important;
}
.hi-terra-cotta .colored-box {
  background: #eb6b56;
  color: #ffffff;
}
.hi-terra-cotta .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link) {
  color: #fbe3df;
}
.hi-terra-cotta .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link):hover {
  color: #ffffff;
}
.hi-terra-cotta .colored-box a.alt-link {
  color: #ffffff;
}
.hi-terra-cotta .colored-box a.alt-link:hover {
  color: #fbe3df !important;
}
.hi-terra-cotta .colored-box a.box-link {
  color: #ffffff;
}
.hi-terra-cotta .colored-box a.box-link:after {
  background-color: #000000;
}
.hi-terra-cotta .hover-box *:not(.highlight) {
  color: #252525;
}
.hi-terra-cotta .hover-box:hover {
  background: #eb6b56;
  color: #ffffff !important;
}
.hi-terra-cotta .hover-box:hover * {
  color: #ffffff !important;
}
.hi-terra-cotta .network-icon.f-btn:not([class*='-hover']):hover {
  color: #252525;
  background: #eb6b56;
  border-color: #eb6b56;
}
.hi-terra-cotta .network-icon.f-btn.highlight:hover {
  background: #eb6b56;
  color: #252525;
}
.bg-terra-cotta:not([class*='overlay-']) {
  background-color: #eb6b56;
}
.bg-terra-cotta[class*='overlay-']:after {
  background-color: #eb6b56;
}
.bg-terra-cotta[class*='overlay-'] .contrast-bg {
  background-color: #ffffff;
  border-color: #ffffff;
}
.hi-terra-cotta .bg-highlight {
  background-color: #eb6b56 !important;
  color: #ffffff !important;
}
.hi-terra-cotta .border-highlight {
  border-color: #eb6b56 !important;
}
/* nav-in class in added to html. */
/* Collapse */
header.bg-terra-cotta,
header.menu-bg-terra-cotta .navbar-collapse.in,
header.menu-bg-terra-cotta .navbar-collapse.collapsing {
  background-color: #eb6b56;
}
header.txt-terra-cotta ul.nav > li.nav-btn a,
header.menu-txt-terra-cotta .navbar-collapse.in ul.nav > li.nav-btn a,
header.menu-txt-terra-cotta .navbar-collapse.collapsing ul.nav > li.nav-btn a {
  border-color: #eb6b56;
}
header.txt-terra-cotta ul.nav > li > a,
header.menu-txt-terra-cotta .navbar-collapse.in ul.nav > li > a,
header.menu-txt-terra-cotta .navbar-collapse.collapsing ul.nav > li > a {
  color: #eb6b56;
}
header.txt-terra-cotta ul.nav > li > a.active,
header.menu-txt-terra-cotta .navbar-collapse.in ul.nav > li > a.active,
header.menu-txt-terra-cotta .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-terra-cotta ul.nav > li > a.active.filled,
header.menu-txt-terra-cotta .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-txt-terra-cotta .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  color: #b8312f;
  color: #ffffff;
}
header.txt-terra-cotta ul.nav > li > a.popout,
header.menu-txt-terra-cotta .navbar-collapse.in ul.nav > li > a.popout,
header.menu-txt-terra-cotta .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f;
  border-color: #b8312f;
  background-color: transparent;
}
header.txt-terra-cotta ul.nav > li > a.popout.filled,
header.menu-txt-terra-cotta .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-txt-terra-cotta .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f;
  color: #ffffff;
}
header.txt-terra-cotta ul.nav > li > a.popout:hover,
header.menu-txt-terra-cotta .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-txt-terra-cotta .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f;
  color: #ffffff;
}
header.txt-terra-cotta ul.nav > li > a.filled:hover,
header.menu-txt-terra-cotta .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-txt-terra-cotta .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d14b49;
  background-color: #d14b49;
  color: #ffffff;
}
header.txt-terra-cotta ul.nav > li > a:hover,
header.menu-txt-terra-cotta .navbar-collapse.in ul.nav > li > a:hover,
header.menu-txt-terra-cotta .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-terra-cotta a.brand,
header.menu-txt-terra-cotta .navbar-collapse.in a.brand,
header.menu-txt-terra-cotta .navbar-collapse.collapsing a.brand {
  color: #eb6b56;
}
header.txt-terra-cotta button.dismiss-navbar,
header.menu-txt-terra-cotta .navbar-collapse.in button.dismiss-navbar,
header.menu-txt-terra-cotta .navbar-collapse.collapsing button.dismiss-navbar {
  color: #eb6b56;
}
header.txt-terra-cotta .navbar-toggle {
  color: #eb6b56;
}
header.txt-terra-cotta .navbar-toggle .icon-bar {
  background-color: #eb6b56;
}
header.hi-terra-cotta a.brand:hover,
header.menu-hi-terra-cotta .navbar-collapse.in a.brand:hover,
header.menu-hi-terra-cotta .navbar-collapse.collapsing a.brand:hover {
  color: #eb6b56;
}
header.hi-terra-cotta ul.nav > li > a.active,
header.menu-hi-terra-cotta .navbar-collapse.in ul.nav > li > a.active,
header.menu-hi-terra-cotta .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #eb6b56 !important;
  border-color: #eb6b56 !important;
}
header.hi-terra-cotta ul.nav > li > a.active.filled,
header.menu-hi-terra-cotta .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-hi-terra-cotta .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  background-color: #eb6b56 !important;
  color: #ffffff !important;
}
header.hi-terra-cotta ul.nav > li > a.popout,
header.menu-hi-terra-cotta .navbar-collapse.in ul.nav > li > a.popout,
header.menu-hi-terra-cotta .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #eb6b56 !important;
  border-color: #eb6b56 !important;
}
header.hi-terra-cotta ul.nav > li > a.popout.filled,
header.menu-hi-terra-cotta .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-hi-terra-cotta .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #eb6b56 !important;
  color: #ffffff !important;
}
header.hi-terra-cotta ul.nav > li > a.popout.filled:hover,
header.menu-hi-terra-cotta .navbar-collapse.in ul.nav > li > a.popout.filled:hover,
header.menu-hi-terra-cotta .navbar-collapse.collapsing ul.nav > li > a.popout.filled:hover {
  border-color: #e64328 !important;
  background-color: #e64328 !important;
  color: #ffffff !important;
}
header.hi-terra-cotta ul.nav > li > a.popout:hover,
header.menu-hi-terra-cotta .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-hi-terra-cotta .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #eb6b56 !important;
  color: #ffffff !important;
}
header.hi-terra-cotta ul.nav > li > a.filled:hover,
header.menu-hi-terra-cotta .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-hi-terra-cotta .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #eb6b56 !important;
  background-color: #eb6b56 !important;
  color: #ffffff !important;
}
header.hi-terra-cotta ul.nav > li > a:hover,
header.menu-hi-terra-cotta .navbar-collapse.in ul.nav > li > a:hover,
header.menu-hi-terra-cotta .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #eb6b56 !important;
  border-color: #eb6b56 !important;
}
footer.bg-terra-cotta {
  background: #eb6b56;
}
footer.txt-terra-cotta {
  border-top-color: #eb6b56;
}
.bg-terra-cotta .form-inline .input-group-btn.f-btn {
  background: #eb6b56;
}
.bg-terra-cotta .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
.txt-terra-cotta .form-control {
  border-color: #eb6b56;
}
.txt-terra-cotta .form-inline .input-group .input-group-btn:not(.f-btn):not(.r-btn) {
  border-color: #eb6b56;
}
.hi-terra-cotta .form-inline .input-group-btn.f-btn:hover {
  background: #eb6b56;
}
