.txt-turbo .f-btn {
  color: #fac51c;
  border-color: #fac51c;
}
.txt-turbo .f-btn.highlight {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-turbo .f-btn:hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.txt-turbo .r-btn {
  color: #252525;
  border-color: #fac51c;
  background: #fac51c;
}
.txt-turbo .r-btn:hover {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-turbo .r-btn.highlight {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-turbo .r-btn.highlight:hover {
  color: #ffffff;
  background: #d14b49;
  border-color: #d14b49;
}
.hi-turbo .f-btn:hover {
  background: #fac51c !important;
  border-color: #fac51c !important;
  color: #252525 !important;
}
.hi-turbo .f-btn.highlight {
  color: #fac51c !important;
  border-color: #fac51c !important;
}
.hi-turbo .f-btn.highlight:hover {
  color: #252525 !important;
}
.hi-turbo .r-btn:hover {
  color: #252525 !important;
  background: #fac51c !important;
  border-color: #fac51c !important;
}
.hi-turbo .r-btn.highlight {
  color: #252525 !important;
  background: #fac51c !important;
  border-color: #fac51c !important;
}
.hi-turbo .r-btn.highlight:hover {
  background: #deaa05 !important;
  border-color: #deaa05 !important;
}
.txt-turbo {
  color: #fac51c;
}
.txt-turbo .bordered {
  border-color: #fac51c;
}
.txt-turbo .highlight {
  color: #b8312f;
}
.txt-turbo .highlight.bordered {
  border-color: #b8312f;
}
.txt-turbo .box {
  border-color: #fac51c;
}
.txt-turbo .box * {
  border-color: #fac51c;
}
.hi-turbo .highlight {
  color: #fac51c !important;
}
.hi-turbo .highlight.bordered {
  border-color: #fac51c;
}
.txt-turbo .alt-link {
  color: #fac51c;
}
.txt-turbo .colored-box {
  color: #fac51c;
}
.txt-turbo .colored-box a.alt-link:not(.box-link) {
  color: #fac51c;
}
.txt-turbo .colored-box a.alt-link:not(.box-link):hover {
  color: #e59c9b;
}
.txt-turbo .colored-box a.box-link {
  color: #fac51c;
}
.txt-turbo .hover-box {
  border-color: #fac51c;
}
.txt-turbo .hover-box *:not(.highlight) {
  color: #fac51c;
}
.txt-turbo .hover-box:hover {
  color: #ffffff;
}
.txt-turbo .hover-box:hover * {
  color: #ffffff;
}
.txt-turbo .network-icon {
  background: #fac51c;
  color: #252525;
}
.txt-turbo .network-icon:not(.r-btn):not(.f-btn):hover {
  background: #fbd24e;
  border-color: #fbd24e;
}
.txt-turbo .network-icon.f-btn {
  color: #fac51c;
}
.hi-turbo:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link) {
  color: #fac51c;
}
.hi-turbo:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link).network-icon {
  color: #ffffff;
}
.hi-turbo:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link):hover {
  color: #c59704;
}
.hi-turbo .alt-link:hover {
  color: #fac51c !important;
}
.hi-turbo .colored-box {
  background: #fac51c;
  color: #252525;
}
.hi-turbo .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link) {
  color: #7a5e03;
}
.hi-turbo .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link):hover {
  color: #171100;
}
.hi-turbo .colored-box a.alt-link {
  color: #252525;
}
.hi-turbo .colored-box a.alt-link:hover {
  color: #7a5e03 !important;
}
.hi-turbo .colored-box a.box-link {
  color: #252525;
}
.hi-turbo .colored-box a.box-link:after {
  background-color: #000000;
}
.hi-turbo .hover-box *:not(.highlight) {
  color: #252525;
}
.hi-turbo .hover-box:hover {
  background: #fac51c;
  color: #252525 !important;
}
.hi-turbo .hover-box:hover * {
  color: #252525 !important;
}
.hi-turbo .network-icon.f-btn:not([class*='-hover']):hover {
  color: #252525;
  background: #fac51c;
  border-color: #fac51c;
}
.hi-turbo .network-icon.f-btn.highlight:hover {
  background: #fac51c;
  color: #252525;
}
.bg-turbo:not([class*='overlay-']) {
  background-color: #fac51c;
}
.bg-turbo[class*='overlay-']:after {
  background-color: #fac51c;
}
.bg-turbo[class*='overlay-'] .contrast-bg {
  background-color: #000000;
  border-color: #000000;
}
.hi-turbo .bg-highlight {
  background-color: #fac51c !important;
  color: #000000 !important;
}
.hi-turbo .border-highlight {
  border-color: #fac51c !important;
}
/* nav-in class in added to html. */
/* Collapse */
header.bg-turbo,
header.menu-bg-turbo .navbar-collapse.in,
header.menu-bg-turbo .navbar-collapse.collapsing {
  background-color: #fac51c;
}
header.txt-turbo ul.nav > li.nav-btn a,
header.menu-txt-turbo .navbar-collapse.in ul.nav > li.nav-btn a,
header.menu-txt-turbo .navbar-collapse.collapsing ul.nav > li.nav-btn a {
  border-color: #fac51c;
}
header.txt-turbo ul.nav > li > a,
header.menu-txt-turbo .navbar-collapse.in ul.nav > li > a,
header.menu-txt-turbo .navbar-collapse.collapsing ul.nav > li > a {
  color: #fac51c;
}
header.txt-turbo ul.nav > li > a.active,
header.menu-txt-turbo .navbar-collapse.in ul.nav > li > a.active,
header.menu-txt-turbo .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-turbo ul.nav > li > a.active.filled,
header.menu-txt-turbo .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-txt-turbo .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  color: #b8312f;
  color: #ffffff;
}
header.txt-turbo ul.nav > li > a.popout,
header.menu-txt-turbo .navbar-collapse.in ul.nav > li > a.popout,
header.menu-txt-turbo .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f;
  border-color: #b8312f;
  background-color: transparent;
}
header.txt-turbo ul.nav > li > a.popout.filled,
header.menu-txt-turbo .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-txt-turbo .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f;
  color: #ffffff;
}
header.txt-turbo ul.nav > li > a.popout:hover,
header.menu-txt-turbo .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-txt-turbo .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f;
  color: #ffffff;
}
header.txt-turbo ul.nav > li > a.filled:hover,
header.menu-txt-turbo .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-txt-turbo .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d14b49;
  background-color: #d14b49;
  color: #ffffff;
}
header.txt-turbo ul.nav > li > a:hover,
header.menu-txt-turbo .navbar-collapse.in ul.nav > li > a:hover,
header.menu-txt-turbo .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-turbo a.brand,
header.menu-txt-turbo .navbar-collapse.in a.brand,
header.menu-txt-turbo .navbar-collapse.collapsing a.brand {
  color: #fac51c;
}
header.txt-turbo button.dismiss-navbar,
header.menu-txt-turbo .navbar-collapse.in button.dismiss-navbar,
header.menu-txt-turbo .navbar-collapse.collapsing button.dismiss-navbar {
  color: #fac51c;
}
header.txt-turbo .navbar-toggle {
  color: #fac51c;
}
header.txt-turbo .navbar-toggle .icon-bar {
  background-color: #fac51c;
}
header.hi-turbo a.brand:hover,
header.menu-hi-turbo .navbar-collapse.in a.brand:hover,
header.menu-hi-turbo .navbar-collapse.collapsing a.brand:hover {
  color: #fac51c;
}
header.hi-turbo ul.nav > li > a.active,
header.menu-hi-turbo .navbar-collapse.in ul.nav > li > a.active,
header.menu-hi-turbo .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #fac51c !important;
  border-color: #fac51c !important;
}
header.hi-turbo ul.nav > li > a.active.filled,
header.menu-hi-turbo .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-hi-turbo .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  background-color: #fac51c !important;
  color: #252525 !important;
}
header.hi-turbo ul.nav > li > a.popout,
header.menu-hi-turbo .navbar-collapse.in ul.nav > li > a.popout,
header.menu-hi-turbo .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #fac51c !important;
  border-color: #fac51c !important;
}
header.hi-turbo ul.nav > li > a.popout.filled,
header.menu-hi-turbo .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-hi-turbo .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #fac51c !important;
  color: #252525 !important;
}
header.hi-turbo ul.nav > li > a.popout.filled:hover,
header.menu-hi-turbo .navbar-collapse.in ul.nav > li > a.popout.filled:hover,
header.menu-hi-turbo .navbar-collapse.collapsing ul.nav > li > a.popout.filled:hover {
  border-color: #deaa05 !important;
  background-color: #deaa05 !important;
  color: #252525 !important;
}
header.hi-turbo ul.nav > li > a.popout:hover,
header.menu-hi-turbo .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-hi-turbo .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #fac51c !important;
  color: #252525 !important;
}
header.hi-turbo ul.nav > li > a.filled:hover,
header.menu-hi-turbo .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-hi-turbo .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #fac51c !important;
  background-color: #fac51c !important;
  color: #252525 !important;
}
header.hi-turbo ul.nav > li > a:hover,
header.menu-hi-turbo .navbar-collapse.in ul.nav > li > a:hover,
header.menu-hi-turbo .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #fac51c !important;
  border-color: #fac51c !important;
}
footer.bg-turbo {
  background: #fac51c;
}
footer.txt-turbo {
  border-top-color: #fac51c;
}
.bg-turbo .form-inline .input-group-btn.f-btn {
  background: #fac51c;
}
.bg-turbo .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
.txt-turbo .form-control {
  border-color: #fac51c;
}
.txt-turbo .form-inline .input-group .input-group-btn:not(.f-btn):not(.r-btn) {
  border-color: #fac51c;
}
.hi-turbo .form-inline .input-group-btn.f-btn:hover {
  background: #fac51c;
}
