.txt-well-read .f-btn {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-well-read .f-btn.highlight {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-well-read .f-btn:hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.txt-well-read .r-btn {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-well-read .r-btn:hover {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-well-read .r-btn.highlight {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-well-read .r-btn.highlight:hover {
  color: #ffffff;
  background: #d14b49;
  border-color: #d14b49;
}
.hi-well-read .f-btn:hover {
  background: #b8312f !important;
  border-color: #b8312f !important;
  color: #ffffff !important;
}
.hi-well-read .f-btn.highlight {
  color: #b8312f !important;
  border-color: #b8312f !important;
}
.hi-well-read .f-btn.highlight:hover {
  color: #ffffff !important;
}
.hi-well-read .r-btn:hover {
  color: #ffffff !important;
  background: #b8312f !important;
  border-color: #b8312f !important;
}
.hi-well-read .r-btn.highlight {
  color: #ffffff !important;
  background: #b8312f !important;
  border-color: #b8312f !important;
}
.hi-well-read .r-btn.highlight:hover {
  background: #d14b49 !important;
  border-color: #d14b49 !important;
}
.txt-well-read {
  color: #b8312f;
}
.txt-well-read .bordered {
  border-color: #b8312f;
}
.txt-well-read .highlight {
  color: #b8312f;
}
.txt-well-read .highlight.bordered {
  border-color: #b8312f;
}
.txt-well-read .box {
  border-color: #b8312f;
}
.txt-well-read .box * {
  border-color: #b8312f;
}
.hi-well-read .highlight {
  color: #b8312f !important;
}
.hi-well-read .highlight.bordered {
  border-color: #b8312f;
}
.txt-well-read .alt-link {
  color: #b8312f;
}
.txt-well-read .colored-box {
  color: #b8312f;
}
.txt-well-read .colored-box a.alt-link:not(.box-link) {
  color: #b8312f;
}
.txt-well-read .colored-box a.alt-link:not(.box-link):hover {
  color: #e59c9b;
}
.txt-well-read .colored-box a.box-link {
  color: #b8312f;
}
.txt-well-read .hover-box {
  border-color: #b8312f;
}
.txt-well-read .hover-box *:not(.highlight) {
  color: #b8312f;
}
.txt-well-read .hover-box:hover {
  color: #ffffff;
}
.txt-well-read .hover-box:hover * {
  color: #ffffff;
}
.txt-well-read .network-icon {
  background: #b8312f;
  color: #ffffff;
}
.txt-well-read .network-icon:not(.r-btn):not(.f-btn):hover {
  background: #d14b49;
  border-color: #d14b49;
}
.txt-well-read .network-icon.f-btn {
  color: #b8312f;
}
.hi-well-read:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link) {
  color: #b8312f;
}
.hi-well-read:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link).network-icon {
  color: #ffffff;
}
.hi-well-read:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link):hover {
  color: #d65f5e;
}
.hi-well-read .alt-link:hover {
  color: #b8312f !important;
}
.hi-well-read:not(header) .colored-box {
  background: #b8312f;
  color: #ffffff;
}
.hi-well-read:not(header) .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link) {
  color: #e59c9b;
}
.hi-well-read:not(header) .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link):hover {
  color: #faecec;
}
.hi-well-read:not(header) .colored-box a.alt-link {
  color: #ffffff;
}
.hi-well-read:not(header) .colored-box a.alt-link:hover {
  color: #e59c9b !important;
}
.hi-well-read:not(header) .colored-box a.box-link {
  color: #ffffff;
}
.hi-well-read:not(header) .colored-box a.box-link:after {
  background-color: #ffffff;
}
.hi-well-read .hover-box *:not(.highlight) {
  color: #252525;
}
.hi-well-read .hover-box:hover {
  background: #b8312f;
  color: #ffffff !important;
}
.hi-well-read .hover-box:hover * {
  color: #ffffff !important;
}
.hi-well-read .network-icon.f-btn:not([class*='-hover']):hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.hi-well-read .network-icon.f-btn.highlight:hover {
  background: #b8312f;
  color: #ffffff;
}
.bg-well-read:not([class*='overlay-']) {
  background-color: #b8312f;
}
.bg-well-read[class*='overlay-']:after {
  background-color: #b8312f;
}
.bg-well-read[class*='overlay-'] .contrast-bg {
  background-color: #ffffff;
  border-color: #ffffff;
}
.hi-well-read .bg-highlight {
  background-color: #b8312f !important;
  color: #ffffff !important;
}
.hi-well-read .border-highlight {
  border-color: #b8312f !important;
}
/* nav-in class in added to html. */
/* Collapse */
header.bg-well-read,
header.menu-bg-well-read .navbar-collapse.in,
header.menu-bg-well-read .navbar-collapse.collapsing {
  background-color: #b8312f;
}
header.txt-well-read ul.nav > li.nav-btn a,
header.menu-txt-well-read .navbar-collapse.in ul.nav > li.nav-btn a,
header.menu-txt-well-read .navbar-collapse.collapsing ul.nav > li.nav-btn a {
  border-color: #b8312f;
}
header.txt-well-read ul.nav > li > a,
header.menu-txt-well-read .navbar-collapse.in ul.nav > li > a,
header.menu-txt-well-read .navbar-collapse.collapsing ul.nav > li > a {
  color: #b8312f;
}
header.txt-well-read ul.nav > li > a.active,
header.menu-txt-well-read .navbar-collapse.in ul.nav > li > a.active,
header.menu-txt-well-read .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-well-read ul.nav > li > a.active.filled,
header.menu-txt-well-read .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-txt-well-read .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  color: #b8312f;
  color: #ffffff;
}
header.txt-well-read ul.nav > li > a.popout,
header.menu-txt-well-read .navbar-collapse.in ul.nav > li > a.popout,
header.menu-txt-well-read .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f;
  border-color: #b8312f;
  background-color: transparent;
}
header.txt-well-read ul.nav > li > a.popout.filled,
header.menu-txt-well-read .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-txt-well-read .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f;
  color: #ffffff;
}
header.txt-well-read ul.nav > li > a.popout:hover,
header.menu-txt-well-read .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-txt-well-read .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f;
  color: #ffffff;
}
header.txt-well-read ul.nav > li > a.filled:hover,
header.menu-txt-well-read .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-txt-well-read .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d14b49;
  background-color: #d14b49;
  color: #ffffff;
}
header.txt-well-read ul.nav > li > a:hover,
header.menu-txt-well-read .navbar-collapse.in ul.nav > li > a:hover,
header.menu-txt-well-read .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-well-read a.brand,
header.menu-txt-well-read .navbar-collapse.in a.brand,
header.menu-txt-well-read .navbar-collapse.collapsing a.brand {
  color: #b8312f;
}
header.txt-well-read button.dismiss-navbar,
header.menu-txt-well-read .navbar-collapse.in button.dismiss-navbar,
header.menu-txt-well-read .navbar-collapse.collapsing button.dismiss-navbar {
  color: #b8312f;
}
header.txt-well-read .navbar-toggle {
  color: #b8312f;
}
header.txt-well-read .navbar-toggle .icon-bar {
  background-color: #b8312f;
}
header.hi-well-read a.brand:hover,
header.menu-hi-well-read .navbar-collapse.in a.brand:hover,
header.menu-hi-well-read .navbar-collapse.collapsing a.brand:hover {
  color: #b8312f;
}
header.hi-well-read ul.nav > li > a.active,
header.menu-hi-well-read .navbar-collapse.in ul.nav > li > a.active,
header.menu-hi-well-read .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f !important;
  border-color: #b8312f !important;
}
header.hi-well-read ul.nav > li > a.active.filled,
header.menu-hi-well-read .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-hi-well-read .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  background-color: #b8312f !important;
  color: #ffffff !important;
}
header.hi-well-read ul.nav > li > a.popout,
header.menu-hi-well-read .navbar-collapse.in ul.nav > li > a.popout,
header.menu-hi-well-read .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f !important;
  border-color: #b8312f !important;
}
header.hi-well-read ul.nav > li > a.popout.filled,
header.menu-hi-well-read .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-hi-well-read .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f !important;
  color: #ffffff !important;
}
header.hi-well-read ul.nav > li > a.popout.filled:hover,
header.menu-hi-well-read .navbar-collapse.in ul.nav > li > a.popout.filled:hover,
header.menu-hi-well-read .navbar-collapse.collapsing ul.nav > li > a.popout.filled:hover {
  border-color: #d14b49 !important;
  background-color: #d14b49 !important;
  color: #ffffff !important;
}
header.hi-well-read ul.nav > li > a.popout:hover,
header.menu-hi-well-read .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-hi-well-read .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f !important;
  color: #ffffff !important;
}
header.hi-well-read ul.nav > li > a.filled:hover,
header.menu-hi-well-read .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-hi-well-read .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #b8312f !important;
  background-color: #b8312f !important;
  color: #ffffff !important;
}
header.hi-well-read ul.nav > li > a:hover,
header.menu-hi-well-read .navbar-collapse.in ul.nav > li > a:hover,
header.menu-hi-well-read .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f !important;
  border-color: #b8312f !important;
}
footer.bg-well-read {
  background: #b8312f;
}
footer.txt-well-read {
  border-top-color: #b8312f;
}
.bg-well-read .form-inline .input-group-btn.f-btn {
  background: #b8312f;
}
.bg-well-read .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
.txt-well-read .form-control {
  border-color: #b8312f;
}
.txt-well-read .form-inline .input-group .input-group-btn:not(.f-btn):not(.r-btn) {
  border-color: #b8312f;
}
.hi-well-read .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
