.txt-wisteria .f-btn {
  color: #9365b8;
  border-color: #9365b8;
}
.txt-wisteria .f-btn.highlight {
  color: #b8312f;
  border-color: #b8312f;
}
.txt-wisteria .f-btn:hover {
  color: #ffffff;
  background: #b8312f;
  border-color: #b8312f;
}
.txt-wisteria .r-btn {
  color: #ffffff;
  border-color: #9365b8;
  background: #9365b8;
}
.txt-wisteria .r-btn:hover {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-wisteria .r-btn.highlight {
  color: #ffffff;
  border-color: #b8312f;
  background: #b8312f;
}
.txt-wisteria .r-btn.highlight:hover {
  color: #ffffff;
  background: #d14b49;
  border-color: #d14b49;
}
.hi-wisteria .f-btn:hover {
  background: #9365b8 !important;
  border-color: #9365b8 !important;
  color: #ffffff !important;
}
.hi-wisteria .f-btn.highlight {
  color: #9365b8 !important;
  border-color: #9365b8 !important;
}
.hi-wisteria .f-btn.highlight:hover {
  color: #ffffff !important;
}
.hi-wisteria .r-btn:hover {
  color: #ffffff !important;
  background: #9365b8 !important;
  border-color: #9365b8 !important;
}
.hi-wisteria .r-btn.highlight {
  color: #ffffff !important;
  background: #9365b8 !important;
  border-color: #9365b8 !important;
}
.hi-wisteria .r-btn.highlight:hover {
  background: #7a4aa0 !important;
  border-color: #7a4aa0 !important;
}
.txt-wisteria {
  color: #9365b8;
}
.txt-wisteria .bordered {
  border-color: #9365b8;
}
.txt-wisteria .highlight {
  color: #b8312f;
}
.txt-wisteria .highlight.bordered {
  border-color: #b8312f;
}
.txt-wisteria .box {
  border-color: #9365b8;
}
.txt-wisteria .box * {
  border-color: #9365b8;
}
.hi-wisteria .highlight {
  color: #9365b8 !important;
}
.hi-wisteria .highlight.bordered {
  border-color: #9365b8;
}
.txt-wisteria .alt-link {
  color: #9365b8;
}
.txt-wisteria .colored-box {
  color: #9365b8;
}
.txt-wisteria .colored-box a.alt-link:not(.box-link) {
  color: #9365b8;
}
.txt-wisteria .colored-box a.alt-link:not(.box-link):hover {
  color: #e59c9b;
}
.txt-wisteria .colored-box a.box-link {
  color: #9365b8;
}
.txt-wisteria .hover-box {
  border-color: #9365b8;
}
.txt-wisteria .hover-box *:not(.highlight) {
  color: #9365b8;
}
.txt-wisteria .hover-box:hover {
  color: #ffffff;
}
.txt-wisteria .hover-box:hover * {
  color: #ffffff;
}
.txt-wisteria .network-icon {
  background: #9365b8;
  color: #ffffff;
}
.txt-wisteria .network-icon:not(.r-btn):not(.f-btn):hover {
  background: #ab88c8;
  border-color: #ab88c8;
}
.txt-wisteria .network-icon.f-btn {
  color: #9365b8;
}
.hi-wisteria:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link) {
  color: #9365b8;
}
.hi-wisteria:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link).network-icon {
  color: #ffffff;
}
.hi-wisteria:not(header) a:not(.r-btn):not(.f-btn):not(.box-link):not(.network-icon):not(.header-link):not(.alt-link):hover {
  color: #b899d0;
}
.hi-wisteria .alt-link:hover {
  color: #9365b8 !important;
}
.hi-wisteria:not(header) .colored-box {
  background: #9365b8;
  color: #ffffff;
}
.hi-wisteria:not(header) .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link) {
  color: #dccee8;
}
.hi-wisteria:not(header) .colored-box a:not(.box-link):not(.r-btn):not(.f-btn):not(.header-link):not(.alt-link):hover {
  color: #ffffff;
}
.hi-wisteria:not(header) .colored-box a.alt-link {
  color: #ffffff;
}
.hi-wisteria:not(header) .colored-box a.alt-link:hover {
  color: #dccee8 !important;
}
.hi-wisteria:not(header) .colored-box a.box-link {
  color: #ffffff;
}
.hi-wisteria:not(header) .colored-box a.box-link:after {
  background-color: #000000;
}
.hi-wisteria .hover-box *:not(.highlight) {
  color: #252525;
}
.hi-wisteria .hover-box:hover {
  background: #9365b8;
  color: #ffffff !important;
}
.hi-wisteria .hover-box:hover * {
  color: #ffffff !important;
}
.hi-wisteria .network-icon.f-btn:not([class*='-hover']):hover {
  color: #252525;
  background: #9365b8;
  border-color: #9365b8;
}
.hi-wisteria .network-icon.f-btn.highlight:hover {
  background: #9365b8;
  color: #252525;
}
.bg-wisteria:not([class*='overlay-']) {
  background-color: #9365b8;
}
.bg-wisteria[class*='overlay-']:after {
  background-color: #9365b8;
}
.bg-wisteria[class*='overlay-'] .contrast-bg {
  background-color: #ffffff;
  border-color: #ffffff;
}
.hi-wisteria .bg-highlight {
  background-color: #9365b8 !important;
  color: #ffffff !important;
}
.hi-wisteria .border-highlight {
  border-color: #9365b8 !important;
}
/* nav-in class in added to html. */
/* Collapse */
header.bg-wisteria,
header.menu-bg-wisteria .navbar-collapse.in,
header.menu-bg-wisteria .navbar-collapse.collapsing {
  background-color: #9365b8;
}
header.txt-wisteria ul.nav > li.nav-btn a,
header.menu-txt-wisteria .navbar-collapse.in ul.nav > li.nav-btn a,
header.menu-txt-wisteria .navbar-collapse.collapsing ul.nav > li.nav-btn a {
  border-color: #9365b8;
}
header.txt-wisteria ul.nav > li > a,
header.menu-txt-wisteria .navbar-collapse.in ul.nav > li > a,
header.menu-txt-wisteria .navbar-collapse.collapsing ul.nav > li > a {
  color: #9365b8;
}
header.txt-wisteria ul.nav > li > a.active,
header.menu-txt-wisteria .navbar-collapse.in ul.nav > li > a.active,
header.menu-txt-wisteria .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-wisteria ul.nav > li > a.active.filled,
header.menu-txt-wisteria .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-txt-wisteria .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  color: #b8312f;
  color: #ffffff;
}
header.txt-wisteria ul.nav > li > a.popout,
header.menu-txt-wisteria .navbar-collapse.in ul.nav > li > a.popout,
header.menu-txt-wisteria .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #b8312f;
  border-color: #b8312f;
  background-color: transparent;
}
header.txt-wisteria ul.nav > li > a.popout.filled,
header.menu-txt-wisteria .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-txt-wisteria .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #b8312f;
  color: #ffffff;
}
header.txt-wisteria ul.nav > li > a.popout:hover,
header.menu-txt-wisteria .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-txt-wisteria .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #b8312f;
  color: #ffffff;
}
header.txt-wisteria ul.nav > li > a.filled:hover,
header.menu-txt-wisteria .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-txt-wisteria .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #d14b49;
  background-color: #d14b49;
  color: #ffffff;
}
header.txt-wisteria ul.nav > li > a:hover,
header.menu-txt-wisteria .navbar-collapse.in ul.nav > li > a:hover,
header.menu-txt-wisteria .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #b8312f;
  border-color: #b8312f;
}
header.txt-wisteria a.brand,
header.menu-txt-wisteria .navbar-collapse.in a.brand,
header.menu-txt-wisteria .navbar-collapse.collapsing a.brand {
  color: #9365b8;
}
header.txt-wisteria button.dismiss-navbar,
header.menu-txt-wisteria .navbar-collapse.in button.dismiss-navbar,
header.menu-txt-wisteria .navbar-collapse.collapsing button.dismiss-navbar {
  color: #9365b8;
}
header.txt-wisteria .navbar-toggle {
  color: #9365b8;
}
header.txt-wisteria .navbar-toggle .icon-bar {
  background-color: #9365b8;
}
header.hi-wisteria a.brand:hover,
header.menu-hi-wisteria .navbar-collapse.in a.brand:hover,
header.menu-hi-wisteria .navbar-collapse.collapsing a.brand:hover {
  color: #9365b8;
}
header.hi-wisteria ul.nav > li > a.active,
header.menu-hi-wisteria .navbar-collapse.in ul.nav > li > a.active,
header.menu-hi-wisteria .navbar-collapse.collapsing ul.nav > li > a.active {
  color: #9365b8 !important;
  border-color: #9365b8 !important;
}
header.hi-wisteria ul.nav > li > a.active.filled,
header.menu-hi-wisteria .navbar-collapse.in ul.nav > li > a.active.filled,
header.menu-hi-wisteria .navbar-collapse.collapsing ul.nav > li > a.active.filled {
  background-color: #9365b8 !important;
  color: #ffffff !important;
}
header.hi-wisteria ul.nav > li > a.popout,
header.menu-hi-wisteria .navbar-collapse.in ul.nav > li > a.popout,
header.menu-hi-wisteria .navbar-collapse.collapsing ul.nav > li > a.popout {
  color: #9365b8 !important;
  border-color: #9365b8 !important;
}
header.hi-wisteria ul.nav > li > a.popout.filled,
header.menu-hi-wisteria .navbar-collapse.in ul.nav > li > a.popout.filled,
header.menu-hi-wisteria .navbar-collapse.collapsing ul.nav > li > a.popout.filled {
  background-color: #9365b8 !important;
  color: #ffffff !important;
}
header.hi-wisteria ul.nav > li > a.popout.filled:hover,
header.menu-hi-wisteria .navbar-collapse.in ul.nav > li > a.popout.filled:hover,
header.menu-hi-wisteria .navbar-collapse.collapsing ul.nav > li > a.popout.filled:hover {
  border-color: #ab88c8 !important;
  background-color: #ab88c8 !important;
  color: #ffffff !important;
}
header.hi-wisteria ul.nav > li > a.popout:hover,
header.menu-hi-wisteria .navbar-collapse.in ul.nav > li > a.popout:hover,
header.menu-hi-wisteria .navbar-collapse.collapsing ul.nav > li > a.popout:hover {
  background: #9365b8 !important;
  color: #ffffff !important;
}
header.hi-wisteria ul.nav > li > a.filled:hover,
header.menu-hi-wisteria .navbar-collapse.in ul.nav > li > a.filled:hover,
header.menu-hi-wisteria .navbar-collapse.collapsing ul.nav > li > a.filled:hover {
  border-color: #9365b8 !important;
  background-color: #9365b8 !important;
  color: #ffffff !important;
}
header.hi-wisteria ul.nav > li > a:hover,
header.menu-hi-wisteria .navbar-collapse.in ul.nav > li > a:hover,
header.menu-hi-wisteria .navbar-collapse.collapsing ul.nav > li > a:hover {
  color: #9365b8 !important;
  border-color: #9365b8 !important;
}
footer.bg-wisteria {
  background: #9365b8;
}
footer.txt-wisteria {
  border-top-color: #9365b8;
}
.bg-wisteria .form-inline .input-group-btn.f-btn {
  background: #9365b8;
}
.bg-wisteria .form-inline .input-group-btn.f-btn:hover {
  background: #b8312f;
}
.txt-wisteria .form-control {
  border-color: #9365b8;
}
.txt-wisteria .form-inline .input-group .input-group-btn:not(.f-btn):not(.r-btn) {
  border-color: #9365b8;
}
.hi-wisteria .form-inline .input-group-btn.f-btn:hover {
  background: #9365b8;
}
